Django==1.6.4
Fabric==1.8.3
MySQL-python==1.2.5
argparse==1.2.1
django-allauth==0.16.1
django-debug-toolbar==1.2.1
django-debug-toolbar-mongo==0.1.10
docopt==0.4.0
ecdsa==0.11
facepy==1.0.3
mailchimp==2.0.7
mandrill==1.0.53
mongoengine==0.8.7
oauthlib==0.6.1
paramiko==1.12.4
pycrypto==2.6.1
pymongo==2.7
python-openid==2.2.5
requests==2.2.1
requests-oauthlib==0.4.0
six==1.7.2
sqlparse==0.1.11
wsgiref==0.1.2
BeautifulSoup