{% extends 'base.html' %}
{% block content %}
<div class="wrapper " id="simple" style="margin-top:6%;margin-bottom:2%">
	<section class="row">		
	{% if request.method == 'GET' %}
		<h2>Total paying users: {{users_result|length}}</h2>
		{% for key, value in total_type_count.items %}
			<p>{{key}}: {{value}}</p>
		{% endfor %}
	{% endif %}
	<form method="post" action=".">{% csrf_token %}
		<input type="text" id="id_username" name="username" placeholder="Username or Email" required="required">
	</form>
	</section>
</div>

<div class="wrapper" id="showcase">
	<section class="row">
	{% if users_result %}
	<table>

		<th>S.N.</th>
		<th>Username</th>
		<th>Email</th>
		<th>Name</th>
		<th>Subscription Type</th>
		<th>Total coupons</th>
		<th>Price</th>
		{% for each_user in users_result %}
		<tr>
			<td>{{forloop.counter}}</td>
			<td>{{each_user.username}}</td>
			<td>{{each_user.email}}</td>
			<td>{{each_user.first_name}} {{each_user.last_name}}</td>
			<td>{{each_user.coupon_count}}</td>
			<td>{{each_user.total_coupons}}</td>
			<td>{{each_user.price}}</td>
			
		</tr>
		{% endfor %}
	</table>
	{% endif %}
	</section>

</div>

{% endblock %}