{% extends 'base.html' %}
{% block content %}
<div class="wrapper " id="simple" style="margin-top:6%;margin-bottom:2%">
	<section class="row">
	<h2>Subscribe user to exam</h2>
	<form method="post" action=".">{% csrf_token %}
		<input type="text" id="id_username" name="username" placeholder="Username or Email" required="required">
		<input type="text" id="id_exam_code" name="exam_code" placeholder="Exam Codes separated by comma" style="width:300px;">
		<button type="submit">Subscribe</button>
	</form>
	</section>
</div>

<div class="wrapper" id="showcase">
	<section class="row">
	{% if user_result %}
	<table>
		<th>Username</th>
		<th>Email</th>
		<th>Name</th>
		<th>Exam Code</th>
		<tr>
			<td>{{user_result.username}}</td>
			<td>{{user_result.email}}</td>
			<td>{{user_result.name}}</td>
			<td>{{user_result.valid_exam}}</td>
		</tr>
	</table>
	{% endif %}
	</section>

</div>

{% endblock %}