{% extends 'base.html' %}
{% load staticfiles %}
{% load result_extra %}
{% block content %}
<div class="row">
<div class="twelve columns" style="margin-top:12%; margin-bottom:7%;">
    <h5 class="h-text-align ui-corner-all" style="text-align: right;color:blue;"><a href="/"><strong>Practice More Exams Here...</strong></a></h5>
    <li id='exam_not_complete_alert' class='warning' style="display: none;"><h3 style="text-align: center;color:red;">Answers will be available after exam duration is completed. Please check back later.</h3></li>
    <section class="tabs">
		<ul class="tab-nav">
		    	<li  id="ioeQuizLi" {% if ioe_user %} class="active" {% endif %}> <a href="#">IOE Quiz</a></li>		    
		    	<li  id="iomQuizLi" {% if iom_user %} class="active" {% endif %}> <a href="#">IOM Quiz</a></li>		    
		</ul>

		<div class="tab-content {% if ioe_user %} active {% endif %}">
			<table>
				<thead>				
					<tr>
						<th>SN</th>
						<th>Name</th>
						<th>Quiz Date</th>
						<th>Mark Scored</th>
					</tr>
				</thead>
				<tbody>
				{% for eachResult in user_leaderboard.ioe_quiz_result %}
					<tr>       
						<td>{{forloop.counter}}</td>	
						<td>{{eachResult.quiz_name}}</td>	
						<td>{{eachResult.attempted_date|unix_to_date}}</td>
						<td>{{eachResult.quiz_score}}</td>
					</tr>
				{% endfor %}
				<tr>
					<td></td>
					<td><strong>Total Score</strong></td>
					<td></td>
					<td><strong>{{user_leaderboard.ioe_total_score}}</strong></td>
				</tr>
				</tbody>
			</table>
		</div>

		<div class="tab-content {% if iom_user %} active {% endif %}">
			<table>
				<thead>				
					<tr>
						<th>SN</th>
						<th>Name</th>
						<th>Quiz Date</th>
						<th>Mark Scored</th>
					</tr>
				</thead>
				<tbody>
				{% for eachResult in user_leaderboard.iom_quiz_result %}
					<tr>       
						<td>{{forloop.counter}}</td>
						<td>{{eachResult.quiz_name}}</td>	
						<td>{{eachResult.attempted_date|unix_to_date}}</td>
						<td>{{eachResult.quiz_score}}</td>
					</tr>
				{% endfor %}
				<tr>
					<td></td>
					<td><strong>Total Score</strong></td>
					<td></td>
					<td><strong>{{user_leaderboard.iom_total_score}}</strong></td>
				</tr>
				</tbody>
			</table>
		</div>

	</section>
	<div class="centered three columns">
	<div class="medium btn primary"><a href="{% url 'leaderboard' %}">View Leaderboard</a></div>
	</div>
</div>
</div>

{% endblock %}
{% block javascript %}

{% endblock %}