{% extends 'base.html' %}
{% load staticfiles %} 
{% block content %}
<div class="row">
<div class="twelve columns" style="margin-top:12%; margin-bottom:7%;">
    <h3 class="h-text-align ui-corner-all" style="text-align: center;"><strong>{{exam_details.exam_name}}</strong></h3>
    <li id='exam_not_complete_alert' class='warning' style="display: none;"><h3 style="text-align: center;color:red;">Answers will be available after exam duration is completed. Please check back later.</h3></li>
    <section class="tabs">
		<ul class="tab-nav">
		    	<li  id="ioeQuizLi"> <a href="#">IOE Quiz</a></li>		    
		    	<li  id="iomQuizLi"> <a href="#">IOM Quiz</a></li>		    
		    <!-- <li><a href="#">Rank Card</a></li> -->
		</ul>

		<div class="tab-content" id="tab-content-ioe">
			<table>
				<thead>				
					<tr>
						<th>SN</th>
						<th>Name</th>
						<th>Quiz Date</th>
						<th>Mark Scored</th>
					</tr>
				</thead>
				<tbody>
				{% for eachResult in ioe_quiz_result %}
					<tr>       
						<td>{{forloop.counter}}</td>	
						<td>{{eachResult.quiz_name}}</td>	
						<td>{{eachResult.attempted_date}}</td>
						<td>{{eachResult.quiz_score}}</td>
					</tr>
				{% endfor %}
				<tr>
					<td></td>
					<td></td>
					<td>Total Score</td>
					<td>{{ioe_total_score}}</td>
				</tr>
				</tbody>
			</table>
		</div>

		<div class="tab-content" id="tab-content-iom">
			<table>
				<thead>				
					<tr>
						<th>SN</th>
						<th>Name</th>
						<th>Quiz Date</th>
						<th>Mark Scored</th>
					</tr>
				</thead>
				<tbody>
				{% for eachResult in iom_quiz_result %}
					<tr>       
						<td>{{forloop.counter}}</td>
						<td>{{eachResult.quiz_name}}</td>	
						<td>{{eachResult.attempted_date}}</td>
						<td>{{eachResult.quiz_score}}</td>
					</tr>
				{% endfor %}
				<tr>
					<td></td>
					<td></td>
					<td>Total Score</td>
					<td>{{iom_total_score}}</td>
				</tr>
				</tbody>
			</table>
		</div>

	</section>
</div>
</div>

{% endblock %}
{% block javascript %}
<script type='text/javascript'>
  
  var iom_len = {{ iom_quiz_result|length }};
  var ioe_len = {{ ioe_quiz_result|length }};

  function exam_not_complete_alert(){
    $('#exam_not_complete_alert').css('display', 'block');
  }
  $(document).ready(function(){
  		if(iom_len == 0 && ioe_len ==0 ) {
  			$('#iomQuizLi').addClass('active');
  			$('#tab-content-iom').addClass('active');
  			$('#ioeQuizLi').removeClass('active');
  			$('#tab-content-ioe').removeClass('active');
  		}
  		else if(iom_len == 0 && ioe_len !=0 ){
  			$('#ioeQuizLi').addClass('active');
  			$('#tab-content-ioe').addClass('active');
  			$('#iomQuizLi').removeClass('active');
  			$('#tab-content-iom').removeClass('active');  			
  		}
  		else if(ioe_len == 0 && iom_len !=0 ) {
  			$('#iomQuizLi').addClass('active');
  			$('#tab-content-iom').addClass('active');
  			$('#ioeQuizLi').removeClass('active');
  			$('#tab-content-ioe').removeClass('active');
  		}
  });
</script>
{% endblock %}