    
    {% for each_question in questions %}       
    <div id="questionText_{{each_question.question_number}}" data-intro="Read the question carefully" data-position="top" class="div-margin twelve columns ui-widget-content ui-corner-all question-min-height" style="margin-left:-2%">
      <span  style="font-weight:bold;"><span style="color:blue;">{{each_question.question_number}}. </span> {{ each_question.question.text }} </span><br>
      {% if each_question.question.image %}
      {% if each_question.question.image != '' %}

      <img src="/static/images/{{each_question.exam_code}}/{{each_question.question.image}}" style=" height:140px" />
      {% endif %}
      {% endif %}

    <ul class="row" id="{{each_question.uid.id}}" style="margin-left:0%;">
      <li class="field" style="min-height:30px;">
        <div class="clickDiv" id="div_{{each_question.question_number}}_OptionA" style="vertical-align:middle;"><span></span>            
            <a href="javascript:void(0)">
            <label class="radio" for="radio_{{each_question.question_number}}_A">
              <input name="radio_{{each_question.question_number}}" id="radio_{{each_question.question_number}}_A" value="A" type="radio">
              <span></span> 
            </label>
            
            {{ each_question.answer.a.text }}<br>
            {% if each_question.answer.a.image  %}
            {% if each_question.answer.a.image != '' %}
              <img src="/static/images/{{each_question.exam_code}}/{{each_question.answer.a.image}}" style="height:140px;" />
            {% endif %}
            {% endif %}
            </a>
        </div>
      </li>

      <li class="field" style="min-height:30px;">
        <div class="clickDiv " id="div_{{each_question.question_number}}_OptionB" style="vertical-align:middle;"><span></span>
            <a href="javascript:void(0)">
                <label class="radio" for="radio_{{each_question.question_number}}">
                    <input name="radio_{{each_question.question_number}}" id="radio_{{each_question.question_number}}_B" value="B" type="radio">
                    <span></span> 
                </label>                  
                {{ each_question.answer.b.text }}<br>
                {% if each_question.answer.b.image %}
                {% if each_question.answer.b.image != '' %}
                  <img src="/static/images/{{each_question.exam_code}}/{{each_question.answer.b.image}}" style="height:140px;" />
                {% endif %}
                {% endif %}
                </a>
        </div>
      </li>

      <li class="field" style="min-height:30px;">
        <div class="clickDiv " id="div_{{each_question.question_number}}_OptionC" style="vertical-align:middle;"><span></span>
              <a href="javascript:void(0)">
              <label class="radio" for="radio_{{each_question.question_number}}_C">
                <input name="radio_{{each_question.question_number}}" id="radio_{{each_question.question_number}}_C" value="C" type="radio">
                <span></span> 
              </label>                    
                {{ each_question.answer.c.text }}<br>
                {% if each_question.answer.c.image  %}
                {% if each_question.answer.c.image != '' %}
                  <img src="/static/images/{{each_question.exam_code}}/{{each_question.answer.c.image}}" style=" height:140px;" />
                {% endif %}
                {% endif %}
                </a>
        </div>
      </li>

      <li class="field" style="min-height:30px;">
        <div class="clickDiv " id="div_{{each_question.question_number}}_OptionD" style="vertical-align:middle;"><span></span>
              <a href="javascript:void(0)">
              <label class="radio" for="radio_{{each_question.question_number}}_D">
                <input name="radio_{{each_question.question_number}}" id="radio_{{each_question.question_number}}_D" value="D" type="radio">
                <span></span> 
              </label>                                
                {{ each_question.answer.d.text }}<br>
                {% if each_question.answer.d.image  %}
                {% if each_question.answer.d.image != '' %}
                  <img src="/static/images/{{each_question.exam_code}}/{{each_question.answer.d.image}}" style="height:140px;" />
                {% endif %}
                {% endif %}
                </a>
        </div>            
      </li>       
    </ul>          
    </div>
{% endfor %}                  
    <div style=" height: 40px; margin-left: -2%;" class="twelve columns">    
    {% if not page_end %}
      <span>
        <div class="small primary btn pretty loadPrev" id="loadPrev">
          <a href="javascript:void(0)"  data-intro="Attempt previous question" data-position="top"><i class="icon-arrow-left"></i>Previous</a>
        </div>
      </span>
      <span style="float:right">
        <div class="small primary btn pretty loadNext" id="loadNext">
          <a href="javascript:void(0)" data-intro="Attempt this question later" data-position="top"><i class="icon-arrow-right" ></i>Next</a>
        </div>
      </span>

      {% else %}              
        <span>
          <div class="small primary btn pretty oadPrev" id="loadPrev">
            <a href="javascript:void(0)"  data-intro="Attempt previous question" data-position="top"><i class="icon-arrow-left"></i>Previous</a>
          </div>
        </span>

        <span style="float:right">
          <div class="small primary btn pretty" id="ansSubmit">
            <a href="javascript:void(0)" data-intro="" data-position="top"><i class="icon-arrow-right"></i>Submit</a>
          </div>
        </span>
      {%  endif %}

    </div> 
