<div class="twelve columns">
	<h5 class="h-text-align ui-widget-header ui-corner-all"><strong>Instructions</strong><br></h5>
	<p style="margin-left:3%; margin-top:2%;">Please read the following instructions carefully before you start the exam.</p>
	<p style="margin-left:4%;margin-top:2%;">
		1. You will have 1 hours for the exam. 
		2. There will be next at the end of the page to skip and attempt another question. <br>
		3. There will be previous button at the end of the page to review your questions. <br>
		4. All answers will be radio button click.  <br>
		5. You can correct or change the answer but you cannot un-attempt  question. so please check make sure before you attempt it. <br>
		6. Question can be reattempted by clicking the radio button. <br>
		7. You can view your remaining questions by clicking the unattempted questions on the top left corner.  <br>
		8. Time remaining will be shown at the top.  <br>
		9. If you do not submit your question at the end then your exam will be invalid. So make sure you submit before you submit your answers. <br>
	</p>
	<div class="medium primary btn pretty button-margin" style="margin-left:3%;">
		<a href="#" onclick="">Start Exam</a>
	</div>
</div>