{% load staticfiles %}  
{% load socialaccount %}
{% load url from future %}
{% load i18n %}
{% load account %}

<!DOCTYPE html>
<html class="js no-touch webp gumby-no-touch" lang="en" itemscope="" itemtype="http://schema.org/Product">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>MCQAPP - Sign up and become a part of smart studying for success. </title>
  <meta name="description" content="MCQAPP - For smart studies.">
  <meta name="keywords" content="MCQAPP - Sign up and become a part of smart studying for success.">
  <link rel="shortcut icon" href="{% static "images/favicon.png" %}" type="image/x-icon">

  <!-- Facebook Metadata /-->
  <meta property="fb:page_id" content="stradosapp">
  <meta property="og:image" content="">
  <meta property="og:description" content="">
  <meta property="og:title" content="">

  <!-- Google+ Metadata /-->
  <meta itemprop="name" content="">
  <meta itemprop="description" content="">
  <meta itemprop="image" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <!-- We highly recommend you use SASS and write your custom styles in sass/_theme.scss.
  However, there is a blank style.css in the css directory should you prefer -->
  <link rel="stylesheet" href="{% static "css/gumby.css" %}">

  <style type="text/css">
    .detail-list-item{
      padding-top: 0px;
      padding-bottom: 60px;
    }
    .site-section {
      padding-top: 50px;
      padding-bottom: 50px;
    } 
    .mystyle-large-btn-side {
      width: 60%; 
    }
  </style>
  <!-- <link rel="stylesheet" href="css/style.css"> -->


  <script src="{% static "js/modernizr-min.js" %}"></script>
</head>

{% block head %}
{% endblock %}
</head>
<body>
  <div class="navbar fixed" id="nav1" gumby-fixed="top" data-target="top" style="top: 0px;">
    <div class="row">
      <h2 class="four columns logo">
        <a href="/#" gumby-goto="[data-target=&#39;top&#39;]">
          <img src="{% static 'images/logo.png' %}" width="100" height="60" alt="Strados">
        </a>
      </h2>
      {% if not request.user.is_authenticated %}
      <ul class="eight columns" style="float:right;clear:none;">
        <li><a href="#whatisit">What is it</a></li>
        <li><a href="#details">How it helps</a></li>
        <li><a href="#signup">Join</a></li>
        <li>
          <div class="medium primary btn">

          <a href="{% provider_login_url "facebook" method="oauth2" %}">
            {% comment %}
            <a href="{% provider_login_url "twitter" process="login" %}">{% endcomment %}
              <span style="font-size:14px;">Signup/Login with your facebook account</span>
            </a>
          </div>
        </li>
      </ul>
      {% endif %}
    </div>
  </div>

  {% block content %}
  {% endblock %}


  <!-- START: Site Footer -->
  <footer role="contentinfo" class="site-footer">
    <div class="row">
        <p style="text-align:center;">
          <a href="/tos/">TOS</a>&nbsp;&nbsp;
          <a href="/privacy/">Privacy policy</a>&nbsp;&nbsp;
          <a href="/partners/">Partners</a>&nbsp;&nbsp;
          <a href="/partners/">Coupon Distributors</a>&nbsp;&nbsp;
          <a href="/subscription-models/">Subscription Models</a>&nbsp;&nbsp;
        </p>
    </div>
    <div class="row">
      <div class="four columns">
        <p>Copyright © 2014 MCQAPP</p>
      </div>
      <div class="push_one six columns social-wrapper">
        <ul class="social-list">
          <li class="social-item">
            <a href="#" class="social-link">
              <i class="icon-facebook-circled"></i>
            </a>
          </li>
          <li class="social-item">
            <a href="#" class="social-link">
              <i class="icon-twitter-circled"></i>
            </a>
          </li>
          <li class="social-item">
            <a href="#" class="social-link">
              <i class="icon-gplus-circled"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  <!-- /END: Site Footer -->


  <!--Include gumby.js followed by UI modules followed by gumby.init.js
  Or concatenate and minify into a single file -->
  <script gumby-touch="js/libs" src="{% static "js/gumby.js" %}"></script>
  <script src="{% static "js/gumby.retina.js" %}"></script>
  <script src="{% static "js/gumby.fixed.js" %}"></script>
  <script src="{% static "js/gumby.skiplink.js" %}"></script>
  <script src="{% static "js/gumby.toggleswitch.js" %}"></script>
  <script src="{% static "js/gumby.navbar.js" %}"></script>
  <script src="{% static "js/gumby.shuffle.js" %}"></script> 
  <script src="{% static "js/gumby.init.js" %}"></script>
  <script src="{% static "js/jquery.bxslider.min.js" %}"></script>
  <script src="{% static "js/placeholders.js" %}"></script>
  

{% block footer %}
{% endblock %}

{% block javascript %}
{% endblock %}

</body>
</html>