{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    {% for eachQuestion in questions %}
      <div id="div_{{eachQuestion.uid.id}}" style="margin-left: 2%;">
        <p>  {{ forloop.counter }}. {{eachQuestion.question.text}}    ==qid---->{{eachQuestion.uid.id}}</p>
        <p> <textarea  style="margin: 0px; width: 650px; height: 36px;" id="Quest_{{eachQuestion.uid.id}}">{{eachQuestion.question.text}}</textarea></p>
            <p>Marks: {{eachQuestion.marks}} Correct: <input id="Correct_{{eachQuestion.uid.id}}" value="{{eachQuestion.answer.correct}}"/></p>        
            <div>
                <p>A. {{eachQuestion.answer.a.text}}     <textarea style="margin: 0px; width: 650px; height: 36px;" id="OptA_{{eachQuestion.uid.id}}">{{eachQuestion.answer.a.text}}</textarea></p>
                <p>B. {{eachQuestion.answer.b.text}}     <textarea style="margin: 0px; width: 650px; height: 36px;" id="OptB_{{eachQuestion.uid.id}}">{{eachQuestion.answer.b.text}}</textarea></p>
                <p>C. {{eachQuestion.answer.c.text}}    <textarea style="margin: 0px; width: 650px; height: 36px;" id="OptC_{{eachQuestion.uid.id}}">{{eachQuestion.answer.c.text}}</textarea></p>
                <p>D. {{eachQuestion.answer.d.text}}     <textarea style="margin: 0px; width: 650px; height: 36px;" id="OptD_{{eachQuestion.uid.id}}">{{eachQuestion.answer.d.text}}</textarea></p>
            </div>
            <label>Subject
                <select class="select-subject" id="Subject_{{eachQuestion.uid.id}}" onchange="subject_change('{{eachQuestion.uid.id}}')"> 
                  <option>Select Subject</option>
                  <option value="physics">physics</option>
                  <option value="chemistry">chemistry</option>
                  <option value="zoology">zoology</option>
                  <option value="botany">botany</option>
                  <option value="mathematics">mathematics</option>
                  <option value="english">english</option>
                  <option value="engineering aptitude">engineering aptitude</option>
                </select>
            </label>

            <label>Unit
                <select class="select-unit" id="Unit_{{eachQuestion.uid.id}}">
                </select>
            </label>

            <label>Chapter
                <select class="select-chapter" id="Chapter_{{eachQuestion.uid.id}}">
                </select>
            </label>

            <label>Topic
                <select id="Topic_{{eachQuestion.uid.id}}">
                </select>
            </label>

            <label>Difficulty
                <select id="Difficulty_{{eachQuestion.uid.id}}"> 
                  <option></option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>                  
                </select>
            </label>
            {% if is_english %}
              <label>Passage Group
                <select id="Passage_{{eachQuestion.uid.id}}"> 
                  <option></option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>                  
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                </select>
              </label>
            {% endif %}

          
            <br><br>
            Hint: <textarea rows="4" cols="40" style="margin: 0px; width: 650px; height: 36px;" id="Hint_{{eachQuestion.uid.id}}"></textarea> 
            <button onclick="save_question_details('{{eachQuestion.uid.id}}')">Save</button>
            <br><br><hr>
      </div>
    {% endfor %}
{% endblock %}

{% block javascript %}
<script type="text/x-mathjax-config">
  //MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { availableFonts: ["TeX"] }
  });
</script>

 <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script src="/static/js/ajax-handle.js"></script>
<script type="text/javascript">
    var subjects = '';
    var chapters = [];
    var topics = [];
    
    function subject_change(uid){       
       var subject = $('#Subject_'+uid).val();
       get_units(subject, uid);
    }

    $('.select-unit').on('change', function(e){
      id = e.target.id;
      var uid = id.replace('Unit_', '');
      var subject = $('#Subject_'+uid).val();
      var unit = $('#Unit_'+uid).val();
      get_chapters(subject, unit, uid);
    });
    
    $('.select-chapter').on('change', function(e){
      id = e.target.id;
      var uid = id.replace('Chapter_', '');
      var subject = $('#Subject_'+uid).val();
      var chapter = $('#Chapter_'+uid).val();
      var unit = $('#Unit_'+uid).val();

      get_topics(subject, unit, chapter, uid);
    });

    
    function save_question_details(uid){

      var subject = $('#Subject_'+uid).val();
      var unit = $('#Unit_'+uid).val();
      var chapter = $('#Chapter_'+uid).val();
      var topic = $('#Topic_'+uid).val();
      var difficulty = $('#Difficulty_'+uid).val();
      var hint = $('#Hint_' + uid).val();

      var correct = $('#Correct_' + uid).val();
      var question = $('#Quest_' + uid).val();
      var opt_a = $('#OptA_' + uid).val();
      var opt_b = $('#OptB_' + uid).val();
      var opt_c = $('#OptC_' + uid).val();
      var opt_d = $('#OptD_' + uid).val();

      var passage_group = '';
      passage_group = $('#Passage_' + uid).val();


      update_question(uid, subject, unit, chapter, topic, difficulty, hint, 
        correct, question, opt_a, opt_b, opt_c, opt_d, passage_group);
    }

</script>    
{% endblock %}


