{% extends 'base.html' %}
{% block head %}
<style type="text/css">
</style>
{% endblock %}

{% block content %}  
<div class="wrapper " id="simple" style="margin-top:6%;margin-bottom:2%">
</div>

<div class="wrapper" id="showcase">
	<section class="row" style="margin-top:3%;">
		<p>Coupon codes are like recharge cards for your mobile phones. They are necessary to conduct exam smoothly and give quality service in meroanswer. Coupon codes are six characters and useable only once. Coupon codes are available for various schemes. Please contact following book store for coupon codes. </p>
	</section>
	
	<section class="row" id="distributors_contact" style=" margin-bottom:3%;">
		<div class="row" style="margin-top: 3%; margin-bottom: 3%;">
			<article class="three columns">				
				<p style="color:red;text-size:15px;"><strong>Progress Bookshop</strong></p>
				<p style="color:red;text-size:15px;"><strong>Outside PEA Building</strong></p>
				<p style="color:red;text-size:15px;"><strong>Thapathali, Kathmandu</strong></p>
			</article>
			<article class="three columns">				
				<p style="color:red;text-size:15px;"><strong>Trishakti Photocopy center</strong></p>
				<p style="color:red;text-size:15px;"><strong>Maitighar, Kathmandu</strong></p>
			</article>			
		</div>
	</section>
	<section class="row" id="distributors_contact">
		<p>You can also contact following person's for coupons:-</p>
	</section>
	<section class="row" id="showcase_shodown" style=" margin-bottom:3%;">		
		<div class="row">			
			<article class="three columns">				
				<figure><img src="http://phunka.com/static/img/teamPhotos/sudip.jpg" alt="Sudip Kafle"></figure>
				<p>Suidip Kafle</p>
				<p>Phone: 9841157853</p>	
			</article>
			<article class="three columns">				
				<figure><img src="http://phunka.com/static/img/teamPhotos/santosh.jpg" alt="Santosh Ghimire"></figure>
				<p>Santosh Ghimire</p>
				<p>Phone: 9840063224</p>	 
			</article>
			<article class="three columns">				
				<figure><img src="http://phunka.com/static/img/teamPhotos/subit.jpg" alt="Raj Subit"></figure>
				<p>Subit Raj Pokharel</p>
				<p>Phone: 9842227969</p>	 
			</article>
			<article class="three columns">				
				<figure><img src="http://phunka.com/static/img/teamPhotos/sijan.jpg" alt="Raj Subit"></figure>
				<p>Sijan Bhandari</p>
				<p>Phone: 9849516774</p>	 
			</article>			
		</div>
	</section>
	<section class="row" id="request" style="margin-bottom:3%;">
		<div class="row">
			<article class="twelve columns">
				<p>Are you outside kathmandu and cannot buy coupon or if you have any problem, Please feel free to drop us your contact, we will call and let you know how and when you can get a coupon.</p>	
				<iframe src="https://docs.google.com/forms/d/1bL_V_YTgm6Kb-Yv0CsW9j1PE7TsNDvBUxNRY749zLVE/viewform?embedded=true" width="100%" height="700" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
			</article>			
		</div>
	</section>	
</div>
{% endblock %}
{% block javascript %}
{% endblock %}



