{# <table width="595px" height="841px" border="1px"> #}
<table width="800px" height="1200px" border="1px">
{% for each_coupon in coupons %}
	
			{# <td width="148px" height="135px" style="text-align: center;">{{forloop.counter}}</td> #}
			<td width="200px" height="200px" style="text-align: center;"><small><i>Serial No: {{forloop.counter|add:count}}</i></small></td>
			{# <td width="148px" height="135px" style="text-align: center;">{{each_coupon.code}}</td> #}
			<td width="200px" height="200px" style="text-align: center;"><small><i>Coupon Code: </i></small></br>{{each_coupon.code}}</td>
			
		{% if not forloop.counter0|divisibleby:2 %}
		</tr>
		{% endif %}
			
			
{% endfor %}
	{# {% if forloop.counter|divisibleby:12 %} #}
	</table>
	{# {% endif %} #}
	