{% extends 'base.html' %}
{% block head %}
<style type="text/css">
</style>
{% endblock %}

{% block content %}  
<div class="wrapper " id="simple" style="margin-top:9%;margin-bottom:4%">
	<section class="row">		
		<article class="seven columns ">
			<h2>Coupon codes</h2>
			<p><span>Coupon codes are like recharge card for your cell phone.  You can use it only once. Subscription coupon are also available at affordable amount. You will need to enter subscription coupon only once and can take exam easily. </span></p>
		</article>
		<article class="five columns">
			<figure><img src="http://gumbyframework.com/img/uploads/home/gumby_simple.png" alt="Insanely Simple"></figure>
		</article>
	</section>
</div>

<div class="wrapper" id="showcase">
	<section class="row">
		<article><h2>Coupon Distributors</h2></article>
	</section>
	<section class="row" id="showcase_shodown">			
		<div class="row">
			<article class="twelve columns">
				<h3>Did not find coupon?</h3>
				<p>Please drop us a contact and we will call and let you know how and when you can get a coupon.</p>	
				<iframe src="https://docs.google.com/forms/d/1bL_V_YTgm6Kb-Yv0CsW9j1PE7TsNDvBUxNRY749zLVE/viewform?embedded=true" width="100%" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
			</article>
		</div>
	</section>
</div>
{% endblock %}
{% block javascript %}
{% endblock %}



