{% extends 'base.html' %}
{% block head %}
<style type="text/css">
</style>
{% endblock %}

{% block content %}  
<div class="wrapper " id="simple" style="margin-top:9%;margin-bottom:4%">
	<section class="row">		
		<article class="seven columns ">
			<h2>Coupon codes</h2>
			<p><span>Coupon codes are like recharge card for your cell phone. It is 6 digit and usable only once. <a href="/subscription/" style="color:red;"> Subscription models</a> are also available at affordable amount. For subscription plans you will get hassle free exam practice once you enter coupon code. </span></p>
		</article>
		<article class="five columns">
			<figure><img src="http://gumbyframework.com/img/uploads/home/gumby_simple.png" alt="Insanely Simple"></figure>
		</article>
	</section>
</div>

<div class="wrapper" id="showcase">
	<section class="row">
		<article><h3>Don't have a coupon? Contact us and we will contact you. </h3></article>
	</section>
	<section class="row" id="showcase_shodown">			
		<div class="row">
			<article class="twelve columns">
				<!-- <p>Please drop us a contact and we will call and let you know how and when you can get a coupon.</p>	 -->
				<iframe src="https://docs.google.com/forms/d/1bL_V_YTgm6Kb-Yv0CsW9j1PE7TsNDvBUxNRY749zLVE/viewform?embedded=true" width="100%" height="700" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
			</article>
		</div>
	</section>
</div>
{% endblock %}
{% block javascript %}
{% endblock %}



