{% extends 'base.html' %}
{% block content %}  

<div class="row my-margin-top">    

    <div class="eight columns">
        <section class="twelve columns">
            <div class="twelve columns">
              <li class="primary alert">Please choose your default exam type.        
              <li>
                  <a href="/docs/">
                      <span>Documentation </span><i class="icon-doc-text" title="Documentation"></i>
                  </a>
                      <div class="dropdown">
                        <ul>
                          <li><a href="/docs/">Getting Started</a></li>
                          <li><a href="/docs/claymate/">Claymate</a></li>
                        </ul>
                      </div>
                </li>
              </li>
            </div>
        </section>
        <section class="twelve columns">
          <article class="valign row">
            <div>
              <img src="/static/images/img_silence_demo.jpg" width="145" />
            </div>
            <div>
              <h4>Gumby Framework is cool.</h4>
              <p>Face tattoos are not.</p>
            </div>
          </article>
          <article class="valign row">
            <div>
              <img src="/static/images/img_silence_demo.jpg" width="145" />
            </div>
            <div>
              <h4>Gumby Framework is cool.</h4>
              <p>and not too mainstream.</p>
            </div>
          </article>
        </section>
    </div>
    <div class="four columns">
      <section class="twelve columns">
          <table class="rounded">
            <thead>
              <tr>Score card for recent exam</tr>
              <tr>
                <th>Subject</th>
                <th>Marks</th>
              </tr>
            </thead>
            <tbody>
              <tr><td>Physics</td><td><li class="primary badge">23</li></td></tr>
              <tr><td>Chemistry</td><td><li class="primary badge">23</li></td></tr>
              <tr><td>Biology</td><td><li class="primary badge">23</li></td></tr>
            </tbody>
          </table>
      </section>
    </div>
</div> 
{% endblock %}
{% block javascript %}
{% endblock %}