{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
  <style type="text/css">
    .picker select {
      width: 0%;
    }
    .my-margin{
      margin-bottom: 10px;
    }
    .button-margin{
      margin-bottom: 10px;
    }
    .subscribed{
      border: 1px solid #63C22D;
    }
    .notsubscribed{
     border: 1px solid #134450; 
    }
    .icon-color-subscribed{
      color: green;
    }
   .icon-color-notsubscribed{
      color: #134450;
    }
    .myicon{
      font-size: 20px;
    }
  </style>
{% endblock %}

{% block content %}  

<div class="row my-margin-top row-bg-color">    
    <div class="eight columns">      
        <section class="twelve columns tabs" style="margin-top: 5%;">
            <ul class="tab-nav">
                <!-- <li class="active"><a href="#">Competitive Exams</a></li> -->                
                <li class="active"><a href="#">Practice Exams</a></li> 
                <!-- <li><a href="#">Notices</a></li> -->
                <!-- <li class="ttip" data-tooltip="Subscription required."><a href="#">Progress Card</a></li> -->
            </ul>
            <div id="upcomingExams" class="tab-content active">
              {% for eachExam in upcoming_exams %}
               <article class="valign row text-color-white ui-widget-content ui-corner-all my-margin {% if eachExam.subscribed %} subscribed {% else %} notsubscribed {% endif %}">
                  {% if eachExam.subscribed %}
                      <i class="icon-check icon-color-subscribed myicon" style="margin-top: 12px;margin-left: 10px;"></i>
                  {% else %}
                      <i class="icon-cancel icon-color-notsubscribed myicon" style="margin-top: 12px;margin-left: 10px;"></i>
                  {% endif %}
                  <div>
                    <img src="/static/images/{{eachExam.image}}" width="145" />
                  </div>
                  <div>
                    <h4><a onclick="attend_exam('{{eachExam.code}}')" href="#" id="{{eachExam.code}}/"><strong>{{eachExam.name}}</strong></a></h4>
                    <p><strong>Date:</strong>{{eachExam.exam_date}}</p>
                    <p><strong>Time:</strong>{{eachExam.exam_time}}</p>
                    {% if not eachExam.subscribed %}
                    <p><strong>Cost:</strong>Rs. 15 (<a href="/coupon/">coupon code</a> entry required)</p>
                    {% endif %}
                     <div class="medium primary btn pretty button-margin" >
                          <a href="{% if eachExam.subscribed %}/honorcode/{{eachExam.code}}/{% else %}#{% endif %}" {% if not eachExam.subscribed %} onclick="attempt_exam('{{eachExam.code}}')" {% endif %}>Give Exam</a>
                      </div>
                  </div>
                </article>
              {% endfor %}

            </div> 

            <!-- <div class="tab-content" id="notices">
              {% for eachSchedule in upcoming_schedules %}
               <article class="valign row text-color-white ui-widget-content ui-corner-all my-margin">
                  <div>
                    <img src="/static/images/{{eachSchedule.image}}" width="145" />
                  </div>
                  <div>
                    <h4><a onclick="attend_exam('{{eachSchedule.code}}')" href="#" id="{{eachSchedule.code}}/"><strong>{{eachSchedule.name}}</strong></a></h4>
                    <p><strong>Category:</strong>{{eachSchedule.schedule_category}}</p>
                    <p><strong>Date:</strong>{{eachSchedule.schedule_date}}</p>
                    <p><strong>Time:</strong>{{eachSchedule.schedule_time}}</p>
                      <div class="medium primary btn pretty" >
                          <a href="/attend-exam/{{eachSchedule.code}}">View Details</a>
                      </div>
                  </div>
                </article>
              {% endfor %}
            </div>-->
            <!-- <div class="tab-content" id="notices">
               <article class="valign row text-color-white">
                  <div>
                    <li class="danger alert">
                      <p>You need to be subscribed to see the details. Please subscribe to one of our <a href="/subscription/"> <strong>models</strong> </a> first. </p> 
                    </li>
                  </div>
                </article>
            </div>            -->
        </section>        
    </div>
    <div class="four columns" style="margin-top: 8%;">
      <section class="twelve columns">
          <div class="twelve columns">
            <li class="success alert">
              <p>Do you have a coupon code for subscription plan?  </p> 
              <div class="pretty medium primary btn switch" style="width: 150px;" onclick="attempt_exam('sample')">Enter here</a></div>
            </li>
          </div>
          <table class="rounded">
            <thead>
              <tr><th><p class="text-color-white">Rank card for recent exam</p></th><th></th></tr>
            </thead>
            <tbody>
              <tr><td>Total Score</td><td><li class="primary badge">{{rank_card.score}}</li></td></tr>
              <tr><td>Percentage</td><td><li class="primary badge">{{rank_card.percentage}}%</li></td></tr>
              <tr><td>Rank</td><td><li class="primary badge">{{rank_card.rank}}/{{rank_card.total_appearance}}</li></td></tr>
            </tbody>
          </table>
          <table class="rounded">
            <thead>
              <tr><p class="text-color-white">Score card for recent exam</p></tr>
              <tr>
                <th>Subject</th>
                <th>Marks</th>
              </tr>
            </thead>
            <tbody>
              {% for eachSubject in socre_card.marks %}
                <tr><td>{{eachSubject.name}}</td><td><li class="primary badge">{{eachSubject.score}}</li></td></tr>
              {% endfor %}                  
            </tbody>
          </table>
      </section>
    </div>
</div> 
<div id="trigger_gumby_div" style="visibility:hidden;" class="pretty medium primary btn switch" gumby-trigger="#modalentercouponcode"></div>
<div class="modal" id="modalentercouponcode">
  <div class="content">
    <a class="close switch" gumby-trigger="|#modalentercouponcode"><i class="icon-cancel" /></i></a>
    <div class="row">
      <div id="dangerMessage"></div>
      <div class="ten columns centered text-center" style="margin-top:6%;">
        <p id="infoText">Every time you give exam, you need to enter <a href="/coupon-codes/" style="color:red;"><strong>coupon code</strong></a> available at various <a href="/distributors/" style="color:red;"><strong>distributors</strong></a>. Please enter <strong>your</strong> as coupon code for now.</p>
          <li class="prepend field">
            <span class="adjoined">Coupon: </span>
            <input id="couponID" class="xwide text input" type="text" placeholder="Please enter the coupon code" />
          </li>
          <li class="prepend field">
            <div class="medium primary btn" >
              <a href="#" onclick="validate_coupon_code()">Start Exam</a>
            </div>
          </li>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
<script src="{% static "js/ajax-handle.js" %}"></script>
<script type="text/javascript">
var ex_code;
  function attempt_exam(exam_code){
    ex_code=exam_code;
    $('#infoText').html('');
    if (exam_code.toLowerCase() == 'sample'){
      var html_str = 'Every time you give exam, you need to enter <a href="/coupon-codes/" style="color:red;"><strong>coupon codes</strong></a> are available at various <a href="/#/" style="color:red;"><strong>distributors</strong></a>. Please enter your coupon code'
      $('#infoText').html(html_str);
    }
    else{      
      var html_str = 'Coupon code are necessary to ensure the regular operation of exam. <a href="/coupon-codes/" style="color:red;"><strong>coupon codes</strong></a> available at various <a href="/#/" style="color:red;"><strong>distributors</strong></a>. Please enter code your below'
      $('#infoText').html(html_str);
    }
    /*is_subscribed(exam_code);    */
    $('#trigger_gumby_div').click();
  }

  function validate_coupon_code() {
    coupon_id = $('#couponID').val();
    validate_coupon(ex_code, coupon_id);
  }
</script>
{% endblock %}