{% extends 'base.html' %}
{% block head %}
<style type="text/css">
    .distributors{
      box-shadow: 0 1px 2px 0 #555;
      border-top: 1px solid rgba(0,0,0,0.1);
      margin-bottom: 0;
      min-width: 343px;
      overflow: hidden;
      background-color: #fff;
      margin-right:1%;
      margin-bottom: 3%;
      text-align: center;
      margin-left:0%;
    }
</style>
{% endblock %}

{% block content %}  

<div class="wrapper" id="showcase" style="margin-bottom:2%; margin-top:5%;">
		<section class="row">
			<article><h3 style="text-align:center"><strong>Currently we have following distributors</strong></h3><h4 style="text-align:center">Please contact them to buy our coupons. </h4></article>
			<div class="row" style="margin-top: 3%; margin-bottom: 3%;">
			<article class="six columns distributors">
                <p style="color:red;text-size:20px;"><strong>Progress Bookshop</strong></p>
                <p style="text-size:15px;"><strong>Outside PEA Building</strong></p>
                <p style="text-size:15px;">Thapathali, Kathmandu</p>
            </article>
            <article class="six columns distributors">             
                <p style="color:red;text-size:15px;"><strong>Nirvana Book Store</strong></p>
                <p style="text-size:15px;"><strong>Outside Name Building</strong></p>
                <p style="text-size:15px;">Putalisadak, Kathmandu</p>
            </article>
            <article class="six columns distributors">             
                <p style="color:red;text-size:15px;"><strong>Samikshya Book Store</strong></p>
                <p style="text-size:15px;"><strong>Outside Vibrant Building</strong></p>
                <p style="text-size:15px;">Putalisadak, Kathmandu</p>
            </article>

	</section>
	</div>
<!-- 	<section class="row">
		<article><h3>Interested to sell our coupons?</h3></article>
	</section>
	<section class="row" id="showcase_shodown">			
		<div class="row">
			<article class="twelve columns">				
				<p>Please drop us your contact and we will call you.</p>	
				<iframe src="https://docs.google.com/forms/d/1W2YgxZIXEXGDm4njJ7nU8uqhmX6ihTkpQbDWrQVsq34/viewform?embedded=true" width="100%" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
			</article>
		</div>
	</section> -->
</div>
{% endblock %}
{% block javascript %}
{% endblock %}



