{% extends 'base.html' %}
{% block head %}
{% endblock %}

{% block content %}  
<div class="row my-margin-top row-bg-color">
	<div class="Twelve Columns" style="text-align: center;">
		<p>IOM MBBS Model Exam 001</p>
		<p>2070-2-10</p>
	</div>
    <div class="twelve columns">
      <div class="seven columns">
      	<div style=" height: 40px; ">
      		<div style=" height: 40px; ">
      			<span><p style="text-align:center">Q. No. 5</p> </span>
      		</div>
      		<div style=" height: 40px; ">
      			<span>
	      			<div class="medium primary btn pretty">
					  <a href="#"><i class="icon-arrow-left"></i>Previous</a>
					</div>
      			</span>
      			<span style="float:right">
      				<div class="medium primary btn pretty">
					  <a href="#"><i class="icon-arrow-right"></i>Skip to Next</a>
					</div>
      			</span>
      		</div>
      		<div id="questionText" class="twelve columns">
      			<p><strong>Who is the president of united states?</strong></p>
      			<!-- <img src="/static/images/study.png" style="margin-left:15%; height:140px" /> -->
      		</div>
      		<div>	      			
      			<ul class="two_up tiles">
				  <li class="field">
					  <label class="radio" for="optionA">
					    <input name="answer" id="optionA" value="A" type="radio">a
					    <span></span>Barac Obama <br>
					    <!-- <img src="/static/images/study.png" style="margin-left:15%; height:140px;" /> -->
					  </label>
				  </li>
				  <li class="field">
					  <label class="radio" for="optionB">
					    <input name="answer" id="optionB" value="B" type="radio">b
					    <span></span>Roshan Bhandari <br>
					    <!-- <img src="/static/images/study.png" style="margin-left:15%; height:140px;" /> -->
					  </label>
				  </li>
				  <li class="field">
					  <label class="radio" for="optionC">
					    <input name="answer" id="optionC" value="C" type="radio">c
					    <span></span>Fidel Castro <br>
					    <!-- <img src="/static/images/study.png" style="margin-left:15%; height:140px;" /> -->
					  </label>
				  </li>
				  <li class="field">
					  <label class="radio" for="optionD">
					    <input name="answer" id="optionD" value="D" type="radio">d
					    <span></span>Che Guevara<br>
					    <!-- <img src="/static/images/study.png" style="margin-left:15%; height:140px;" /> -->
					  </label>
				  </li>					  
				</ul>
      		</div>
      	</div>
      </div>
      <div class="five columns" style="height:300px; overflow-x:scroll;">
      	<p>My Answer Sheet</p>
      	<div class="twelve columns">
      		<a href="#">Q. 1</a><li class="danger badge">NA</li>
      		<a href="#">Q. 1</a><li class="success badge">a</li>
      		<a href="#">Q. 1</a><li class="success badge">a</li>
      		<a href="#">Q. 1</a><li class="danger badge">NA</li>
      		<a href="#">Q. 1</a><li class="success badge">a</li>
      	</div>
      	<div class="twelve columns">
      		<a href="#">Q. 1</a><li class="danger badge">NA</li>
      		<a href="#">Q. 1</a><li class="success badge">a</li>
      		<a href="#">Q. 1</a><li class="success badge">a</li>
      		<a href="#">Q. 1</a><li class="danger badge">NA</li>
      		<a href="#">Q. 1</a><li class="success badge">a</li>
      	</div>
      	<div class="twelve columns">
      		<a href="#">Q. 1</a><li class="danger badge">NA</li>
      		<a href="#">Q. 1</a><li class="success badge">a</li>
      		<a href="#">Q. 1</a><li class="success badge">a</li>
      		<a href="#">Q. 1</a><li class="danger badge">NA</li>
      		<a href="#">Q. 1</a><li class="success badge">a</li>
      	</div>
      	<div class="twelve columns">
      		<a href="#">Q. 1</a><li class="danger badge">NA</li>
      		<a href="#">Q. 1</a><li class="success badge">a</li>
      		<a href="#">Q. 1</a><li class="success badge">a</li>
      		<a href="#">Q. 1</a><li class="danger badge">NA</li>
      		<a href="#">Q. 1</a><li class="success badge">a</li>
      	</div>
      	<div class="twelve columns">
      		<a href="#">Q. 1</a><li class="danger badge">NA</li>
      		<a href="#">Q. 1</a><li class="success badge">a</li>
      		<a href="#">Q. 1</a><li class="success badge">a</li>
      		<a href="#">Q. 1</a><li class="danger badge">NA</li>
      		<a href="#">Q. 1</a><li class="success badge">a</li>
      	</div>
      	<div class="twelve columns">
      		<a href="#">Q. 1</a><li class="danger badge">NA</li>
      		<a href="#">Q. 1</a><li class="success badge">a</li>
      		<a href="#">Q. 1</a><li class="success badge">a</li>
      		<a href="#">Q. 1</a><li class="danger badge">NA</li>
      		<a href="#">Q. 1</a><li class="success badge">a</li>
      	</div>
      	<div class="twelve columns">
      		<a href="#">Q. 1</a><li class="danger badge">NA</li>
      		<a href="#">Q. 1</a><li class="success badge">a</li>
      		<a href="#">Q. 1</a><li class="success badge">a</li>
      		<a href="#">Q. 1</a><li class="danger badge">NA</li>
      		<a href="#">Q. 1</a><li class="success badge">a</li>
      	</div>
      	<div class="twelve columns">
      		<a href="#">Q. 1</a><li class="danger badge">NA</li>
      		<a href="#">Q. 1</a><li class="success badge">a</li>
      		<a href="#">Q. 1</a><li class="success badge">a</li>
      		<a href="#">Q. 1</a><li class="danger badge">NA</li>
      		<a href="#">Q. 1</a><li class="success badge">a</li>
      	</div>
      	<div class="twelve columns">
      		<a href="#">Q. 1</a><li class="danger badge">NA</li>
      		<a href="#">Q. 1</a><li class="success badge">a</li>
      		<a href="#">Q. 1</a><li class="success badge">a</li>
      		<a href="#">Q. 1</a><li class="danger badge">NA</li>
      		<a href="#">Q. 1</a><li class="success badge">a</li>
      	</div>
      	<div class="twelve columns">
      		<a href="#">Q. 1</a><li class="danger badge">NA</li>
      		<a href="#">Q. 1</a><li class="success badge">a</li>
      		<a href="#">Q. 1</a><li class="success badge">a</li>
      		<a href="#">Q. 1</a><li class="danger badge">NA</li>
      		<a href="#">Q. 1</a><li class="success badge">a</li>
      	</div>
      	<div class="twelve columns">
      		<a href="#">Q. 1</a><li class="danger badge">NA</li>
      		<a href="#">Q. 1</a><li class="success badge">a</li>
      		<a href="#">Q. 1</a><li class="success badge">a</li>
      		<a href="#">Q. 1</a><li class="danger badge">NA</li>
      		<a href="#">Q. 1</a><li class="success badge">a</li>
      	</div>
      </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
{% endblock %}