{% extends 'base.html' %}
{% block head %}
<style type="text/css">
  .li-height{
    min-height: 100px;
  }

  .question-min-height{
    min-height: 80px;
  }
.btn-width{
    width:50px;
    height: 35px;
  }
  .flotatright{
    /*float: right;*/
  }
   .tiles {
    display: block;
    overflow: visible;
}
.h-text-align{
  text-align: center;
}
.div-margin{
  margin-left: 0%;
  margin-bottom: 10px;
  /*text-align: center;*/
}
.forum_hover { /*background-color: blue */}
.clickDiv{
  margin-left: 3%;
}
  html {
    font-family: Calibri, Arial, sans-serif;
  }

  #input_container {
    width: 50%;
    margin: 2% auto;
    display: block;
  }

    input[type=text],
    textarea {
      font-family: inherit;
      font-size: 3em;
      width: 98%;
      display: block;
      resize: none;
      margin-bottom: 1em;
      border: 1px solid #333;
      padding: 0.25em;
      background: #FEFEFE;
    }
    .keyboard-style
    {
      bottom: 2%;
    }
    .exam-hidden
    {
      visibility: hidden;
    }
</style>
<link rel="stylesheet" type="text/css" href="/static/css/onScreenKeyboard.css">
{% endblock %}

{% block content %}  
<div class="row my-margin-top row-bg-color ui-widget-content ui-corner-all my-margin">
  {% block timer %}
  {% endblock %}

  {% block exam_content %}
  {% endblock %}
</div>
{% endblock %}
{% block javascript %}
{% endblock %}