{% extends 'base.html' %}
{% block head %}
{% endblock %}

{% block content %}  
<div class="row my-margin-top row-bg-color">
    <div class="twelve columns" style="text-align: center;">
		<h3><strong>{{exam_details.exam_name}}</strong></h3>
		<h4><strong>Exam Date: {{exam_details.exam_date}}</strong></h4>
    </div>
    <div class="twelve columns">
    <div class="example-grid">
    </div>
    </div>
    <div class="twelve columns" style="margin-top:2%; margin-bottom:2%;">
          <div class="six columns" id="startTimer">
                <h5 style="color:red;"><strong>Start Time: {{exam_details.exam_time}}</strong></h5>
          </div>
          <div class="six columns" id="timeRemained">
                <h5 style="float:right; color:red;"><strong>Time Remained: 60 min</strong></h5>
          </div>
    </div>
    <div class="twelve columns">
      <div class="seven columns">      	
      	<div style=" height: 40px; "><span><p style="text-align:center; color:blue;"><strong>Q. No. {{start_question.question_number}}, {{start_question.question.text}}</strong></p> </span></div>
      	<div style=" height: 40px; ">
      		<span>
      			<div class="medium primary btn pretty">
      			  <a href="#"><i class="icon-arrow-left"></i>Previous</a>
      			</div>
      		</span>
      		<span style="float:right">
      			<div class="medium primary btn pretty">
      			  <a href="#"><i class="icon-arrow-right"></i>Skip to Next</a>
      			</div>
      		</span>
      	</div>
      	<div id="questionText" class="twelve columns">
      	</div>
      	<div>	     			
      		<ul class="two_up tiles">
      		  <li class="field">
      			  <label class="radio" id="optionA" for="optionA">
      			    <input name="answer" id="inputoptionA" value="A" type="radio">a
      			    <span></span>Barac Obama <br>
      			    <!-- <img src="/static/images/study.png" style="margin-left:15%; height:140px;" /> -->
      			  </label>
      		  </li>
      		  <li class="field">
      			  <label class="radio" id="optionB" for="optionB">
      			    <input name="answer" id="inputoptionB" value="B" type="radio">b
      			    <span></span>Roshan Bhandari <br>
      			    <!-- <img src="/static/images/study.png" style="margin-left:15%; height:140px;" /> -->
      			  </label>
      		  </li>
      		  <li class="field">
      			  <label class="radio" id="optionC" for="optionC">
      			    <input name="answer" id="inputoptionC" value="C" type="radio">c
      			    <span></span>Fidel Castro <br>
      			    <!-- <img src="/static/images/study.png" style="margin-left:15%; height:140px;" /> -->
      			  </label>
      		  </li>
      		  <li class="field">
      			  <label id="optionD" class="radio" for="optionD">
      			    <input name="answer" id="inputoptionD" value="D" type="radio">d
      			    <span></span>Che Guevara<br>
      			    <!-- <img src="/static/images/study.png" style="margin-left:15%; height:140px;" /> -->
      			  </label>
      		  </li>					  
      		</ul>
      	</div>      	
      </div>
      <div class="five columns" style="height:300px; overflow-y:scroll; overflow-x:hidden">
      	<h5 style="text-align:center;color:red;"><strong>My Answer Sheet</strong></h5>
      	<div class="twelve columns" style="margin-left:20%;margin-bottom:3%;">
      		<a href="#">1. <li class="danger badge">NA</li></a>&nbsp;&nbsp;&nbsp;
      		<a href="#">2. <li class="success badge">a</li></a>&nbsp;&nbsp;&nbsp;
                  <a href="#">3. <li class="success badge">c</li></a>&nbsp;&nbsp;&nbsp;
                  <a href="#">4. <li class="success badge">d</li></a>
      	</div>
      	<div class="twelve columns" style="margin-left:20%;margin-bottom:3%;">
      		<a href="#">5. <li class="success badge">b</li></a>&nbsp;&nbsp;&nbsp;
      		<a href="#">6. <li class="danger badge">NA</li></a>&nbsp;&nbsp;&nbsp;
      		<a href="#">7. <li class="success badge">a</li></a>&nbsp;&nbsp;&nbsp;
                  <a href="#">8. <li class="danger badge">NA</li></a>
      	</div>
      </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/x-mathjax-config">
  //MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { availableFonts: ["TeX"] }
  });
</script>

 <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/javascript">
  var questions = {{questions|safe}};
  $(document).ready(function(){
      var html_str = '<p><strong>' + questions[0].question['text'] + '</strong></p>';
      if(questions[0].question['image'] != undefined){
        try{
          html_str = html_str + '<img src=/static/images/{{exam_code}}/' + questions[0].question['image'] + ' style="margin-left:15%; height:140px" />';
        }
        catch(err){          
        }
      }        
      $('#questionText').html(html_str);

       var  optiond_text = '<input name="answer" id="inputoptionD" value="D" type="radio">d' + '<span></span>' + <br>
                <!-- <img src="/static/images/study.png" style="margin-left:15%; height:140px;" /> -->

  });
</script>
{% endblock %}