{% extends 'exam_base.html' %}
{% load staticfiles %} 
{% block exam_content %}
<div class="twelve columns">
{% if not render_before_exam %}
	<h5 class="h-text-align ui-widget-header ui-corner-all"><strong>Honor Code</strong></h5>
	<p style="margin-left:3%; margin-top:2%;">You must agree to the following honor code for attending exam.</p>
	<p style="margin-left:4%;margin-top:2%;">
		1. All the answers you submit will be done by you.<br>
		2. You will not take any help to answer in competitive exam offered by us.<br>
		3. You will not involve/share questions/answers to others unless it is publicly available for discussion.
	</p>
	<div class="medium primary btn pretty button-margin" style="margin-left:3%;">
		<a href="#" onclick="honor_code_accept({{exam_code}})">Accept and attend exam</a>
	</div>
{% else %}
	<h5 class="h-text-align ui-widget-header ui-corner-all"><strong>Please check Back Later !!</strong></h5>
	<p></p><p></p>
	<p style="margin-left:3%; margin-top:2%;">The exam is not open yet, it will open at {{exam_details.exam_time}}. You can yet practice some practice sets from dashboard. </p>
	</p>
	<div class="medium primary btn pretty button-margin" style="margin-left:3%;">
		<a href="/">Practice other</a>
	</div>
{% endif %}
</div>
{% endblock %}
{% block javascript %}
<script src="/static/js/ajax-handle.js"></script>
<script type="text/javascript">
function honor_code_accept(exam_code){
	ajax_honor_code_accept(exam_code);
}
</script>
{% endblock %}