{% extends 'exam_base.html' %}
{% load staticfiles %} 
{% block timer %}
    <h5 class="h-text-align " style="margin-top:0%;margin-left: 2%;margin-right: -2%;">
    <strong>Tribhuvan University</strong><br>
    <strong>Institute of Engineering </strong><br>
    <strong>Pulchowk, Lalitpur, Nepal</strong><br>
    <strong>{{exam_details.exam_name}}</strong>
    </h5>
    <div class="twelve columns" style="margin-top:2%; margin-bottom:2%;">          
          <div class="six columns" id="startTimer">
                <!-- <h5 style="color:rgb(104, 16, 16);"><strong><i class="icon-clock"></i>Started {{exam_details.exam_time}}</strong></h5> -->
          </div>
          <div class="six columns">
                <div class="twelve columns">
                  <div class="seven columns">                  
                  </div>                
                  <div class="four columns" style="float: right;">
                    <img src="{{user.profile_image}}" style="height: 100px; "/>
                    <p style="font-weight: 400; font-size: 12px; margin-bottom: 0px;">{{user.name}}</p> 
                    <p  style="font-weight: 400; font-size: 12px;margin-bottom: 0px;">Attempted: 5 </p>
                    <p style="font-weight: 400; margin-bottom: 0px; font-size: 12px;">Remaining: 25</p>
                    <p  style="font-weight: 400; margin-bottom: 0px; font-size: 12px;">Total: 65</p>
                  </div>
                  <div class="one columns"></div>
                </div>
                <div class="twelve columns">
                  <div class="seven columns">                  
                  </div>                
                  <div class="four columns">
                    <h5 id="timeRemained" data-intro="determine the time left" data-position="bottom" style="float:right; color:rgb(104, 16, 16);"><strong></strong></h5>
                  </div>
                  <div class="one columns"></div>
                </div>
          </div><br/><br/>
    </div>
{% endblock %}
{% block exam_content %}
    <div class="twelve columns">

      <div class="twelve columns">      
       
        <div id="questionText" data-intro="Read the question carefully" data-position="top" class="div-margin twelve columns ui-widget-content ui-corner-all question-min-height" style="margin-left:-2%">
          <span  style="font-weight:bold;"><span style="color:blue;">{{start_question.question_number}}. </span> {{ start_question.question.text }} </span>
          {% if start_question.question.image != '' %}

          <img src="/static/images/{{exam_code}}/{{start_question.question.image}}" style=" height:140px" />
          {% endif %}

        <ul class="row" id="{{start_question.uid.id}}">
          <li class="field" style="min-height:30px;">
            <label class="radio checked" for="radio1">
              <input name="radio" id="radio1" value="A" type="radio" checked="checked">
              <span></span> 
            </label>
            <div class="clickDiv " id="divOptionA" style="margin-top: -3%;"><span></span>
                    <a href="javascript:void(0)">
                    {{ start_question.answer.a.text }}<br>
                    {% if start_question.answer.a.image != '' %}
                      <img src="/static/images/{{exam_code}}/{{start_question.answer.a.image}}" style="height:140px;" />
                    {% endif %}
                    </a>
            </div>
          </li>

          <li class="field" style="min-height:30px;">
            <label class="radio" for="radio2">
              <input name="radio" id="radio2" value="2" type="radio">
              <span></span> 
            </label>
            <div class="clickDiv " id="divOptionB" style="margin-top: -3%;"><span></span>
                    <a href="javascript:void(0)">
                    {{ start_question.answer.b.text }}<br>
                    {% if start_question.answer.b.image != '' %}
                      <img src="/static/images/{{exam_code}}/{{start_question.answer.b.image}}" style="height:140px;" />
                    {% endif %}
                    </a>
            </div>
          </li>

          <li class="field" style="min-height:30px;">
            <label class="radio" for="radio3">
              <input name="radio" id="radio3" value="2" type="radio">
              <span></span> 
            </label>
            <div class="clickDiv " id="divOptionC" style="margin-top: -3%;"><span></span>
                    <a href="javascript:void(0)">
                    {{ start_question.answer.c.text }}<br>
                    {% if start_question.answer.c.image != '' %}
                      <img src="/static/images/{{exam_code}}/{{start_question.answer.c.image}}" style=" height:140px;" />
                    {% endif %}
                    </a>
            </div>
          </li>

          <li class="field" style="min-height:30px;">
            <label class="radio" for="radio4">
              <input name="radio" id="radio4" value="2" type="radio">
              <span></span> 
            </label>
            <div class="clickDiv " id="divOptionD" style="margin-top: -3%;"><span></span>
                    <a href="javascript:void(0)">
                    {{ start_question.answer.d.text }}<br>
                    {% if start_question.answer.d.image != '' %}
                      <img src="/static/images/{{exam_code}}/{{start_question.answer.d.image}}" style="height:140px;" />
                    {% endif %}
                    </a>
            </div>            
          </li>       
        </ul>          
        </div>
                     
        <div style=" height: 40px; margin-left: -2%;" class="twelve columns">
          <span>
            <div class="small primary btn pretty" id="loadPrev">
              <a href="#"  data-intro="Attempt previous question" data-position="top"><i class="icon-arrow-left"></i>Previous</a>
            </div>
          </span>
          <span style="float:right">
            <div class="small primary btn pretty loadNext" id="loadNext{{next_to_start.uid.id}}">
              <a href="#" data-intro="Attempt this question later" data-position="top"><i class="icon-arrow-right" ></i>Skip to Next</a>
            </div>
          </span>
        </div> 
      </div>      
    <div id="trigger_gumby_div" style="visibility:hidden;" class="pretty medium primary btn switch" gumby-trigger="#modalwarning"></div>
    <div class="modal" id="modalwarning">
      <div class="content">
        <a id= "closegumby" class="close switch" gumby-trigger="|#modalwarning"><i class="icon-cancel" /></i></a>
        <div class="row">
          <div id="dangerMessage"></div>
          <div class="ten columns centered text-center" style="margin-top:6%;">
            <p id="infoText">You have successfully reached the end of this exam. What would you like to do?</p>
              <li class="prepend field">
                <div class="medium primary btn" >
                  <a href="#" onclick="set_exam_finished()">Submit</a>
                  <a id="reviewAns" href="#" onclick="review()">Review</a>
                </div>
              </li>
          </div>
        </div>
      </div>
    </div>    
{% endblock %}
{% block javascript %}
<script type="text/x-mathjax-config">
  //MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { availableFonts: ["TeX"] }
  });
</script>

 <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script src="/static/js/chardinjs.min.js"></script> 
<script type="text/javascript">
var click_count = 1;
var div_count = 0;
var ans_list=[];
/*var ans_na = [];*/

var question_id = '{{start_question.uid.id|safe}}';

var current_question_number = {{start_question_number}};
var all_answers = {{all_answers|safe}};
var max_questions_number = {{max_questions_number}};
var attempted = [];
var exam_code = {{exam_code|safe}};
var questions = {{questions|safe}};
var exam_duration = {{exam_details.exam_duration}};

(function() {
  $(function() {
    $('body').chardinJs();
    $('a[data-toggle="chardinjs"]').on('click', function(e) {
      e.preventDefault();
        return ($('body').data('chardinJs')).toggle();
        });
      });    
}).call(this);
</script>
<script src="/static/js/ajax-handle.js"></script>
<script src="/static/js/exam.js"></script>
<script type="text/javascript">
  function set_exam_finished(){
    ajax_set_exam_finished(exam_code, true);
  }
  function review(){
    $('#closegumby').click();
  }

if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
}
else{
  $("#optionsDiv > ul > li").hover(function(){
  id = this.id;
  $("#"+id).css("background","#58c026");
  },function(){
  $("#"+id).css("background","none");
});
}

</script>
{% endblock %}