{% extends 'exam_base.html' %}
{% load staticfiles %} 
{% block timer %}
    <h5 class="h-text-align ui-widget-header ui-corner-all" style="margin-top:0%;margin-left:2%;margin-right:-2%;"><strong>{{exam_details.exam_name}}</strong></h5>
    <div class="twelve columns" style="margin-top:2%; margin-bottom:2%;">          
          <div class="six columns" id="startTimer">
                <!-- <h5 style="color:rgb(104, 16, 16);"><strong><i class="icon-clock"></i>Started {{exam_details.exam_time}}</strong></h5> -->
          </div>
          <div class="six columns">
                <h5 id="timeRemained" data-intro="determine the time left" data-position="bottom" style="float:right; color:rgb(104, 16, 16);"><strong></strong></h5>
          </div><br/><br/>
    </div>
{% endblock %}
{% block exam_content %}
    <div class="twelve columns">

      <div class="seven columns">      
        <div style=" height: 40px; " class="twelve columns">
          <span>
            <div class="small primary btn pretty" id="loadPrev">
              <a href="#"  data-intro="Attempt previous question" data-position="top"><i class="icon-arrow-left"></i>Previous</a>
            </div>
          </span>
          <span style="float:right">
            <div class="small primary btn pretty loadNext" id="loadNext{{next_to_start.uid.id}}">
              <a href="#" data-intro="Attempt this question later" data-position="top"><i class="icon-arrow-right" ></i>Skip to Next</a>
            </div>
          </span>
        </div>        
        <div id="questionText" data-intro="Read the question carefully" data-position="top" class="div-margin twelve columns ui-widget-content ui-corner-all question-min-height">
          <span  style="font-weight:bold;"><span style="color:blue;">{{start_question.question_number}}. </span> {{ start_question.question.text }} 
          </span>
          {% if start_question.question.image  %}
              {% if start_question.question.image != '' %}
              <img src="/static/images/{{start_question.exam_code}}/{{start_question.question.image}}" style=" height:140px" />
              {% endif %}
          {% endif %}
        </div>
        <div class="twelve columns" id="optionsDiv" style="margin-left: 0%;">           
          <ul class="two_up tiles" id="{{start_question.uid.id}}">
            
              <li class="field ui-widget-content ui-corner-all li-height" data-intro="Click on correct answer to submit" data-position="bottom" id="a">
                <p class="h-text-align ui-widget-header ui-corner-all">A</p>
                <div class="clickDiv " id="divOptionA" ><span></span>
                    <a href="javascript:void(0)">
                    {{ start_question.answer.a.text }}<br>
                    {% if start_question.answer.a.image  %}
                      {% if start_question.answer.a.image != '' %}
                        <img src="/static/images/{{start_question.exam_code}}/{{start_question.answer.a.image}}" style="height:140px;" />
                      {% endif %}
                    {% endif %}
                    </a>
                </div>
              </li>
            
                                    
              <li class="field ui-widget-content ui-corner-all li-height" data-intro="Click on correct answer to submit" data-position="bottom" id="b">              
                <p class="h-text-align ui-widget-header ui-corner-all">B</p>
                <div class="clickDiv " id="divOptionB" ><span></span>
                    <a href="javascript:void(0)">
                    {{ start_question.answer.b.text }}<br>
                    {% if start_question.answer.b.image  %}
                      {% if start_question.answer.b.image != '' %}
                        <img src="/static/images/{{start_question.exam_code}}/{{start_question.answer.b.image}}" style="height:140px;" />
                      {% endif %}
                    {% endif %}
                    </a>
                </div>
              </li>
            

              <li class="field ui-widget-content ui-corner-all li-height forum_hover" id="c">
                <p class="h-text-align ui-widget-header ui-corner-all">C</p>
                <div class="clickDiv " id="divOptionC" ><span></span>
                    <a href="javascript:void(0)">
                    {{ start_question.answer.c.text }}<br>
                    {% if start_question.answer.c.image  %}
                      {% if start_question.answer.c.image != '' %}
                        <img src="/static/images/{{start_question.exam_code}}/{{start_question.answer.c.image}}" style=" height:140px;" />
                      {% endif %}
                    {% endif %}
                    </a>
                </div>
              </li>
            
              <li class="field ui-widget-content ui-corner-all li-height forum_hover" id="d">              
                <p class="h-text-align ui-widget-header ui-corner-all">D</p>
                <div class="clickDiv " id="divOptionD" ><span></span>
                    <a href="javascript:void(0)">
                    {{ start_question.answer.d.text }}<br>
                    {% if start_question.answer.d.image  %}
                      {% if start_question.answer.d.image != '' %}
                        <img src="/static/images/{{start_question.exam_code}}/{{start_question.answer.d.image}}" style="height:140px;" />
                      {% endif %}
                    {% endif %}
                    </a>
                </div>
          </ul>
        </div>              
        <div style="clear:both"></div>
      </div>
      
      <div data-intro="Resubmit your answers by clicking on question number on answersheet. NA = Not Attempted, so make sure you answer all the questions." data-position="top" class="five columns ui-widget-content ui-corner-all" id="myAnswerSheet" style="height:350px; overflow-y:scroll; overflow-x:hidden">
        <h5 class="h-text-align ui-widget-header ui-corner-all"><strong>Answer sheet</strong></h5>
        <div id="myAnswers" style="margin-left:4%;">
        </div>
      </div>
    </div>    
    <div id="trigger_gumby_div" style="visibility:hidden;" class="pretty medium primary btn switch" gumby-trigger="#modalwarning"></div>
    <div class="modal" id="modalwarning">
      <div class="content">
        <a id= "closegumby" class="close switch" gumby-trigger="|#modalwarning"><i class="icon-cancel" /></i></a>
        <div class="row">
          <div id="dangerMessage"></div>
          <div class="ten columns centered text-center" style="margin-top:6%;">
            <p id="infoText">You have successfully reached the end of this exam. What would you like to do?</p>
              <li class="prepend field">
                <div class="medium primary btn" >
                  <a href="#" onclick="set_exam_finished()">Submit</a>
                  <a id="reviewAns" href="#" onclick="review()">Review</a>
                </div>
              </li>
          </div>
        </div>
      </div>
    </div>    
{% endblock %}
{% block javascript %}
<script type="text/x-mathjax-config">
  //MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { availableFonts: ["TeX"] }
  });
</script>

 <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script src="/static/js/chardinjs.min.js"></script> 
<script type="text/javascript">
var click_count = 1;
var div_count = 0;
var ans_list=[];
/*var ans_na = [];*/

var question_id = '{{start_question.uid.id|safe}}';

var current_question_number = {{start_question_number|safe}};
var all_answers = {{all_answers|safe}};
var max_questions_number = {{max_questions_number}};
var attempted = [];
var exam_code = {{exam_code|safe}};
var questions = unescape({{questions|safe}});
var exam_duration = {{exam_details.exam_duration}};
var exm_code = exam_code;
(function() {
  $(function() {
    $('body').chardinJs();
    $('a[data-toggle="chardinjs"]').on('click', function(e) {
      e.preventDefault();
        return ($('body').data('chardinJs')).toggle();
        });
      });    
}).call(this);
</script>
<script src="/static/js/ajax-handle.js"></script>
<script src="/static/js/exam.js"></script>
<script type="text/javascript">
  function set_exam_finished(){
    ajax_set_exam_finished(exam_code, true);
  }
  function review(){
    $('#closegumby').click();
  }

if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
}
else{
  $("#optionsDiv > ul > li").hover(function(){
  id = this.id;
  $("#"+id).css("background","#58c026");
  },function(){
  $("#"+id).css("background","none");
});
}

</script>
{% endblock %}