{% extends 'base.html' %}
{% load staticfiles %} 

{% block head %}
<style type="text/css">
      .picker select {
      width: 0%;
    }
    .my-margin{
      margin-bottom: 10px;
    }
    .button-margin{
      margin-bottom: 10px;
    }
    .subscribed{
      border: 2px solid #63C22D;
    }
    .notsubscribed{
     border: 1px solid #134450; 
    }
    .icon-color-subscribed{
      color: green;
    }
   .icon-color-notsubscribed{
      color: #134450;
    }
    .myicon{
      font-size: 20px;
    }
    .columns {
       margin-left: 0%; 
    }

</style>
{% endblock %}



{% block content %}   
<div class="row  row-bg-color boxing" style="margin-bottom:1%;">   

  <div class="twelve columns">
    <div class="twelve columns">  

      <section class="twelve columns tabs" style="margin-top: 4%;">
        <ul class="tab-nav">
          <li class="active"><a href="javascript:void(0)" id="DPSExamsTab">Practice Exams</a></li> 
          <!-- <li><a href="javascript:void(0)" id="CPSExamsTab">Free Daily Quiz</a></li> -->
        </ul>

        <div id="upcomingPracticeExams" class="tab-content active">

          <article class="valign six columns text-color-white ui-widget-content ui-corner-all my-margin" style="border: 1px solid red;margin-right:1%;">
            <div style="width:25%">
              <img src="/static/images/engg.jpg" width="100px" style="padding-top: 4px;padding-left: 4px;" />
            </div>
            
            <div style="width:65%">
                <h5><a href="#" id=""><strong>IOE Practice Exam</strong></a></h5>
                <p><strong>Time: </strong>Anytime</p>
                <!-- <p><strong>Cost: </strong>Rs. 20 (<a href="/coupon/">coupon code</a> entry required)</p> -->
                
                <div class="small primary btn pretty button-margin" >
                  <a id="generateNewIOEExam" href="javascript:void(0)">Start New Exam</a>
                </div>
            </div>
          </article> 

                  <article class="valign six columns text-color-white ui-widget-content ui-corner-all my-margin" style="border: 1px solid red;margin-right:1%;">
            <div style="width:25%">
              <img src="/static/images/engg.jpg" width="100px" style="padding-top: 4px;padding-left: 4px;" />
            </div>
            
            <div style="width:65%">
                <h5><a href="#" id=""><strong>IOE Practice Exam</strong></a></h5>
                <p><strong>Time: </strong>Anytime</p>
                <!-- <p><strong>Cost: </strong>Rs. 20 (<a href="/coupon/">coupon code</a> entry required)</p> -->
                
                <div class="small primary btn pretty button-margin" >
                  <a id="generateNewIOEExam" href="javascript:void(0)">Start New Exam</a>
                </div>
            </div>
          </article> 

        </div> 
        
      </section> 
    </div>
  
    <!-- <div class="four columns" style="margin-top: 8%;">
      
    </div> -->

  </div> 

</div>
{% endblock %}

{% block javascript %}
<script src="{% static "js/ajax-handle.js" %}"></script>
{% endblock %}