{% extends 'base.html' %}
{% load socialaccount %}
{% block head %}
<style type="text/css">
  .li-android{
    float: left; 
    list-style: none; 
    position: relative; 
    width: 300px;
  }
  .gallery-slider-wrapper {
    margin-top: -62px;
  }
.playstore{
  width: 200px;
  margin-top: 10%;
}

</style>
{% endblock %}
{% block content %}
	<!-- <a href="{% provider_login_url "facebook" method="oauth2" %}">Facebook OAuth2</a>
	<a href="{% provider_login_url "twitter" process="login" %}">Sign In with Twitter</a> -->

      <main role="main" class="site-main-content">
    <!-- START: Sign Up Section -->
    <section class="site-section section-signup noise" data-target="signup" data-scroll-index="0">
      <!-- START: Animation Wrapper -->
      <div class="animate-on-scroll scroll-animation-init fadeDownIn" data-scrollanimation="fadeDownIn" style="margin-top:10%;">
        <!-- START: Section Header -->
        <div class="row section-header">
          <div class="twelve columns">
            <h2> WANT TO EXCEL ENTRANCE EXAM? </h2>
            <h4 style="line-height:140%">Prepare yourself with MeroAnswer</h4>
          </div>
        </div>
        <!-- /END: Section Header -->
        <div class="row">                            
              <div class="twelve columns centered">  
                <p class="twelve columns centered text-center" >
                    <a class="btn primary large pretty ten columns centered" style="background: #3b5998;" id="fbLogin" href="{% provider_login_url "facebook" method="oauth2" %}">
                      <span class="adjoined"><i class="icon-facebook" style="color:white"></i></span>
                      <span style="font-size:14px;"><strong style="color:white">Sign up with your facebook account to give exam</strong> </span>
                    </a>
                </p>
                <p class="twelve columns centered text-center">
                  <strong>EXAM ANYWHERE ANYTIME </strong> <br><strong> Exactly based on the syllabus of <strong>IOE</strong> </strong> entrance exam<br>
                   <strong>exactly similar to Pulchowk Engineering Campus's computerized entrance system </strong> <br>                   
                </p>
              </div>
        </div>
      <!-- /END: Animation Wrapper  -->
    </section>
    <!-- /END: Sign Up Section  -->
    <div class="section section-mainfeature">
      <img src="" class="ten columns centered">
    </div>
    <!-- START: Details Section -->
    <section class="site-section section-details" data-target="details" data-scroll-index="1" style="overflow-x:hidden;">
      <!-- START: Detail Item -->
    <div class="" style="margin-left:35%">
      <h1 class="row detail-list-item">How it works</h1>
    </div>
    <div class="">
      <div class="row detail-list-item">
        <div class="four columns detail-list-graphic">
          <div class="circ-img circled-image-1">
            <div class="fi-label">
              <span>Get coupon ;)</span>
            </div>
          </div>
        </div>
        <div class="eight columns details">
          <h2>get a coupon</h2>
          <!-- <br><br><br> -->
          <p>To appear online exam, you need to get a <a id="linkCouponlanding" href="/coupon/" alt="coupon" style="color:red">coupon </a>from <a href="/distributors/" alt="coupon code distributors" style="color:red">distributors nearby you.</a> Cheaper rates for coupon codes are available for different <a href="/subscription/" style="color:red" alt="subscription models">subscription models.</a></p>
        </div>
      </div>
      <!-- /END: Detail Item -->
      <!-- START: Detail Item -->
      <div class="row detail-list-item animate-on-scroll scroll-animation-init fadeInRight" data-scrollanimation="fadeInRight" gumby-shuffle="only screen and (max-width: 767px)|1-0">
        
        
      <div class="eight columns details on-left">
          <h2 class="ttip" data-tooltip = "You must Sign up with facebook to give exams on meroanswer.">
              <a class="btn primary large pretty twelve columns centered" style="background: #3b5998;" id="fbLogin" href="{% provider_login_url "facebook" method="oauth2" %}">
                <span class="adjoined"><i class="icon-facebook" style="color:white"></i></span>
                <span style="font-size:14px;"><strong style="color:white">Sign up with facebook and give exam</strong> </span>
              </a>
          </h2>
          <br><br>
          <p> Giving online exam is super easy with us. We conduct online exams every week. It's an excellent platform to practice competitive exam. </p>
        </div><div class="four columns detail-list-graphic on-right">
          <div class="circ-img circled-image-2">
            <div class="fi-label">
              <span>give exam :-)</span>
            </div>
          </div>
        </div></div>
      <!-- /END: Detail Item -->
      <!-- START: Detail Item -->
      <div class="row detail-list-item animate-on-scroll scroll-animation-init fadeInLeft" data-scrollanimation="fadeInLeft">
        <div class="four columns detail-list-graphic">
          <div class="circ-img circled-image-3">
            <div class="fi-label">
              <span>succeed \m/ </span>
            </div>
          </div>
        </div>
        <div class="eight columns details">
          <h2>practice more</h2>
          <!-- <br><br><br> -->
          <p>You have to study smart, know tricks and learn mnemonics. Studying hard only won't get you.  Appear exams prepared by experts, increase your knowledge, track progress, improve weak areas and finally succeed. </p>
        </div>
      </div>
      <!-- /END: Detail Item -->
    </div>
    </section>

  <!-- START: Site Header -->
  <section class="site-header noise" data-scroll-index="2">
    <div class="row">
      <div class="four columns">
        <div class="gallery-slider-wrapper row animate-on-scroll" data-scrollanimation="fadeUpIn">
          <ul class="gallery-slider twelve columns">
            <li><img src="/static/images/and1.png" alt=""></li>
            <li><img src="/static/images/and2.png" alt=""></li>
            <li><img src="/static/images/and3.png" alt=""></li>
          </ul>
        </div>
      </div>
      <div class="push_one seven columns">
      <div class="centered twelve columns">
        <h1 style="font-size: 45px;">MeroAnswer Android App</h1>
        <h6 style="line-height: 150%">You can download our android app and give exam from anywhere.</h6>
        
        <a id="appStoreLink" href="https://play.google.com/store/apps/details?id=com.meroanswer" class="" gumby-duration="1000">
          <img class="playstore" src="/static/images/playstore.png"/>
        </a>
        </div>
      </div>
    </div>
  </section>
  <!-- /END: Site Header -->
    

  </main>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
    mixpanel.track_links("#fbLogin", "Tried to login with facebook button on homepage", {
        "referrer": document.referrer
});
    mixpanel.track_links("#appStoreLink", "Clicked on playstore link", {
        "referrer": document.referrer
});
    mixpanel.track_links("#linkCouponlanding", "Clicked on coupon link on landing How it works section", {
        "referrer": document.referrer
});    
  
    
</script>
{% endblock %}