{% extends 'base.html' %}
{% load staticfiles %} 
{% block head %}

{% endblock %}
{% block content %}
<div class="twelve columm page-homepage reboot">
<section id="section-premium" class="feature premium">
        <div class="premium-container">
          <div class="premium-options-holder">
            <div class="premium-option free">
              <h1>Free</h1>
              <p class="premium-tag">Everything you want from music.
              </p>
                            <p class="premium-price">Completely free</p>

                            <aside>
                <!-- <img src="//d2c87l0yth4zbw.cloudfront.net/i/home/devices-free-new-en.png" class="device-img"> -->
              </aside>

              <ul class="premium-details-list">
                <li>Listen on mobile, tablet & computer</li>
                <li>Millions of songs &mdash; just hit play</li>
                <li>Made possible by ads</li>
              </ul>

              <a id="js-button-get-free" href="/us/download/"
              class="button js-button-download js-ga-event js-open-signup js-gtm-event"
              data-gtm-event-name="download_spotify_button_clicked"
              data-ga-event-category="acquisition"
              data-ga-event-action="download_spotify"
              data-ga-event-label="mega_pricing"
              data-signup-start-section="signup-select">
                Get Free
              </a>
            </div>

            <div id="premium-tier" class="premium-option premium">              
              <h1>Premium</h1>
              <p class="premium-tag">Your music is everywhere.</p>
                            <p class="premium-price">$9.99 a month.</p>
              <aside>
                <!-- <img src="//d2c87l0yth4zbw.cloudfront.net/i/home/devices-premium.png" class="device-img"> -->
              </aside>

                   <ul class="premium-details-list">
                      <li>Play any song, anywhere</li>
                      <li>Download music & listen offline in high-quality audio</li>
                      <li>No audio ads & no commitment</li>
                    </ul>              
                <a id="js-button-try-premium" href="/us/freetrial/"
                  class="button button-highlight js-ga-event js-open-signup"
                  data-ga-event-category="upgrade"
                  data-ga-event-action="get_trial"
                  data-ga-event-label="mega_pricing"
                  data-signup-start-section="login">
                    Try Premium
                </a>              
            </div>

                        <div class="premium-option free">
              <h1>Free</h1>
              <p class="premium-tag">Everything you want from music.
              </p>
                            <p class="premium-price">Completely free</p>

                            <aside>
                <!-- <img src="//d2c87l0yth4zbw.cloudfront.net/i/home/devices-free-new-en.png" class="device-img"> -->
              </aside>

              <ul class="premium-details-list">
                <li>Listen on mobile, tablet & computer</li>
                <li>Millions of songs &mdash; just hit play</li>
                <li>Made possible by ads</li>
              </ul>

              <a id="js-button-get-free" href="/us/download/"
              class="button js-button-download js-ga-event js-open-signup js-gtm-event"
              data-gtm-event-name="download_spotify_button_clicked"
              data-ga-event-category="acquisition"
              data-ga-event-action="download_spotify"
              data-ga-event-label="mega_pricing"
              data-signup-start-section="signup-select">
                Get Free
              </a>
            </div>

            <div id="premium-tier" class="premium-option premium">              
              <h1>Premium</h1>
              <p class="premium-tag">Your music is everywhere.</p>
                            <p class="premium-price">$9.99 a month.</p>
              <aside>
                <!-- <img src="//d2c87l0yth4zbw.cloudfront.net/i/home/devices-premium.png" class="device-img"> -->
              </aside>

                   <ul class="premium-details-list">
                      <li>Play any song, anywhere</li>
                      <li>Download music & listen offline in high-quality audio</li>
                      <li>No audio ads & no commitment</li>
                    </ul>              
                <a id="js-button-try-premium" href="/us/freetrial/"
                  class="button button-highlight js-ga-event js-open-signup"
                  data-ga-event-category="upgrade"
                  data-ga-event-action="get_trial"
                  data-ga-event-label="mega_pricing"
                  data-signup-start-section="login">
                    Try Premium
                </a>              
            </div>
          </div>

        </div>
      </section>

</div>      
{% endblock %}

{% block javascript %}
{% endblock %}

