{% extends 'base.html' %}
{% load staticfiles %} 
{% block content %}

  <div class="tos-margin twelve column">
  <div class="centered ten columns">
    <h3 class="h-text-align ui-widget-header ui-corner-all" style="text-align: center;"><strong>Privacy Policy</strong></h3><br>

    <p>
	We understand the value of the information you provide to us online and your concern towards its safety and security. We are committed to protecting your privacy and to make sure that your privacy remains with you we have certain procedures that comply with the data protection issues. </p>

	<p>The privacy policy described here mentions what type of information we collect when you visit our network, how we use the the information and what privacy concerns we offer you as services.</p>

	<h4 class="h-text-align ui-widget-header ui-corner-all" style="text-align: center;"><strong>What we collect?</strong></h4><br>

	<p>User can register in our site via facebook and we acquire information that is present in the facebook profile of the user. We acquire information from user's public profile that is shared by the user which consists of user's name, username, email address and friend list. The information is used to identify the user uniquely. We do not acquire user's private information like user's interests, religious and political beliefs, relationships.</p><br>
	<p>We also collect information from cookie to trace the behavior that you exhibit during exam time. We collect information like how much time you spent in each question. How many time you attempted each question, etc This information are necessary for us to gather greater information for the benefit of user in terms of user experience and others.</p>

	<h4 class="h-text-align ui-widget-header ui-corner-all" style="text-align: center;"><strong>How we collect information?</strong></h4><br>

	<p>Social Network - We collect information from the public facebook profile that is shared by the user when user registers in our system.</p>

	<p>Feedback - Our system's feedback form takes the email address of the user to contact the user about the feedback provided.</p>

	<p>Cookie:- Cookie are used to variables used in browsers and are widely used to trace the behavior during the stay time in our site.</p>

	<h4 class="h-text-align ui-widget-header ui-corner-all" style="text-align: center;"><strong>What we do with the information?</strong></h4><br>

	<p>We understand the sensitivity of the information you provided. We need the information provided to uniquely identify you as our user. The contact information (email address) is uses to contact you and to provide important updates and notices about our systems and services. Also, the contact information is used to provide upcoming events and new features. The friend list we acquire is used to invite your friends to use the system and also to provide your activity and progress of the system. However the information is not provided very often to the friends .We will not sell and distribute your information to third parties unless you give us permission or is required by the law.</p>

	<h4 class="h-text-align ui-widget-header ui-corner-all" style="text-align: center;"><strong>Changes in this Privacy Statement</strong></h4><br>


	<p>We reserve the right to change the privacy statement, so please review it frequently. We notify you via email or notification on home page whenever we change the material in our policy.</p>

	<p>If you have any concerns regarding our privacy policy, please feel free to contact us at:-
	email: info@meroanswer.com
	mobile: 9843566737
	</p>

  </div>
</div>
{% endblock %}
