<!DOCTYPE html>
<html>
<head>
	<title>Mark Sheet</title>
</head>
<body>
	<h2 style="text-align:center">SLC Mark sheet</h2>
	<div style="width:100%; margin-left:1%;">
		<div><strong>Name: {{result.name}}</strong></div>
		<div><strong>Symbol: {{result.symbol}} </strong></div>
		<div><strong>School: {{result.school}} </strong></div>
		<div><strong>Address: {{result.district}} {{result.street}} </strong></div>
		<div><strong>Year: {{result.year}} </strong></div>
	</div>
	<br/>
	<div style="width:100%;">
		<table style="width:100%;">		
			<th id="header">
				<td><strong>Subject</strong></td>
				<td><strong>Theory</strong></td>
				<td><strong>Practical</strong></td>
				<td><strong>Total</strong></td>
				<td><strong>Full Marks</strong></td>
			</th>
			<tr></tr>
			<tr></tr>
			{% for eachScore in result.scores %}
				<tr id="marks-body">
					<td></td>
					<td>{{eachScore.subject}}</td>
					<td>{{eachScore.theory}}</td>
					<td>{{eachScore.practical}}</td>
					<td>{{eachScore.total_obtained}}</td>
					<td>100</td>
				</tr>
				<tr></tr><tr></tr>
			{% endfor %}
			<tr>
				<td></td>
				<td><strong>Total</strong></td>
				<td>{{result.total_theory_obtained}}</td>
				<td>{{result.total_practical_obtained}}</td>
				<td>{{result.total_marks_obtained}}</td>
				<td>{{result.total_full_marks}}</td>
			</tr>
		</table>
	</div>
</body>
</html>