{% extends 'base.html' %}
{% load staticfiles %} 
{% block content %}
<div class="twelve columm page-homepage reboot">
<section id="section-premium" class="feature premium">
        <div class="premium-container">
          <div class="premium-options-holder">
            <div class="premium-option premium">
              <h1><strong>Competitive Exam </strong></h1>(held every week at a fixed time)
              <p class="premium-tag">
              </p>
              <p><strong>Rs. 15/exam</strong><br>(<a href="/coupon/"> coupon code</a> entry)</p>
              <!-- <aside>
                <img src="//d2c87l0yth4zbw.cloudfront.net/i/home/devices-free-new-en.png" class="device-img">
              </aside> -->

              <ul class="premium-details-list">
                <li>Can attend exam</li>
                <li>See score card and Rank Card</li>
                <li>Win prizes, gift hampers and awards</li>
                <li class="ttip" data-tooltip="coming soon">Check answers</li>
                <li class="ttip" data-tooltip="coming soon">Participate in discussion related to question</li>
              </ul>

              <a id="js-button-get-free" href="#"
              class="button js-button-download js-ga-event js-open-signup js-gtm-event">
                Give Exam
              </a>
            </div>

            <div class="premium-option premium">
              <h1><strong>Practice Exam </strong></h1>(Competitive Exams turns into practice sets. Can be taken any time, but within a fixed time duration.)
              <p class="premium-tag">
              </p>
              <p><strong>Rs. 10/exam</strong><br>(<a href="/coupon/"> coupon code</a> entry)</p>
              <!-- <aside>
                <img src="//d2c87l0yth4zbw.cloudfront.net/i/home/devices-free-new-en.png" class="device-img">
              </aside> -->

              <ul class="premium-details-list">
                <li>Can attend exam</li>
                <li>See score card and Rank Card</li>
                <li class="ttip" data-tooltip="coming soon">Check answers</li>
                <li class="ttip" data-tooltip="coming soon">Participate in discussion related to question</li>
              </ul>

              <a id="js-button-get-free" href="#"
              class="button js-button-download js-ga-event js-open-signup js-gtm-event">
                Give Exam
              </a>
            </div>

            <div class="premium-option premium">
              <h1 class="ttip" data-tooltip="changes may apply"><strong>All session competitive exam Subscription </strong></h1>(can subscribe to one package of IOM/MOE exam or IOE session.)
              <p class="premium-tag">
              </p>
              <p><strong>Rs. 150 for all exams held within the session </strong><br>(<a href="/coupon/"> single time coupon code</a> entry)</p>
              <!-- <aside>
                <img src="//d2c87l0yth4zbw.cloudfront.net/i/home/devices-free-new-en.png" class="device-img">
              </aside> -->

              <ul class="premium-details-list">
                <li>Can attend exam</li>
                <li>See score card and Rank Card</li>                
                <li class="ttip" data-tooltip="coming soon">Check answers</li>
                <li class="ttip" data-tooltip="coming soon">Participate in discussion related to question</li>
              </ul>

              <a id="js-button-get-free" href="/dashboard/" class="button">
                Subscribe
              </a>
            </div>


            <div class="premium-option premium">
              <h1><strong>Pay Per Exam Basis </strong><br>(competitive-held every week at a fixed time)</h1>
              <p class="premium-tag">
              </p>
              <p class="premium-price"><strong>Rs. 15</strong><br>(<a href="/coupon/"> coupon code</a> entry)</p>
              <!-- <aside>
                <img src="//d2c87l0yth4zbw.cloudfront.net/i/home/devices-free-new-en.png" class="device-img">
              </aside> -->

              <ul class="premium-details-list">
                <li>Can attend exam</li>
                <li>See score card and Rank Card</li>
                <li class="ttip" data-tooltip="coming soon">Check answers</li>
                <li class="ttip" data-tooltip="coming soon">Participate in discussion related to question</li>
              </ul>

              <a id="js-button-get-free" href="#"
              class="button js-button-download js-ga-event js-open-signup js-gtm-event">
                Give Exam
              </a>
            </div>
          </div>

        </div>
      </section>

</div>      
{% endblock %}

{% block javascript %}
{% endblock %}

