{% extends 'base.html' %}
{% load staticfiles %} 
{% block content %}
<div class="twelve columm page-homepage reboot">
<section id="section-premium" class="feature premium">
        <div class="premium-container">
          <div class="premium-options-holder">
            <div class="premium-option premium">
              <h1>Competitive Exam</h1><p style="font-size: 13px;">held every week at a fixed time</p>
              <p class="premium-tag">
              </p>
              <p class="premium-price"><strong>Rs. 30/exam</strong><br>(coupon code entry every time)</p>
              <!-- <aside>
                <img src="//d2c87l0yth4zbw.cloudfront.net/i/home/devices-free-new-en.png" class="device-img">
              </aside> -->

              <ul class="premium-details-list">
                <li class="active zebra">Attend exam</li>
                <li class="active">Score card and Rank Card</li>
                <li class="active zebra">Prizes, gift hampers and awards</li>
                <li class="active">Answers and solutions</li>
                <li class="active zebra">Participate in discussion related to question</li>
                <li class="active">-</li>
              </ul>

              <a id="js-button-get-free" href="/"
              class="button">
                Subscribe
              </a>
            </div>

            <div class="premium-option premium">
              <h1>All session </h1><p style="font-size: 13px;">one full package (IOE/IOM session)</p>
              <p class="premium-tag">
              </p>
              <p class="premium-price"><strong>Rs. 500 for all exams </strong><br>(One time coupon code entry)</p>
              <!-- <aside>
                <img src="//d2c87l0yth4zbw.cloudfront.net/i/home/devices-free-new-en.png" class="device-img">
              </aside> -->

              <ul class="premium-details-list">
                <li class="active zebra">Attend exam</li>
                <li class="active">Score card and Rank Card</li>
                <li class="active zebra">Prizes, gift hampers and awards</li>
                <li class="active">Answers and solutions</li>
                <li class="active zebra">Participate in discussion related to question</li>
                <li class="active">Progress card</li>
              </ul>

              <a id="js-button-get-free" href="#" '{% if request.user.is_authenticated %} onclick="attempt_exam('subs')" {% endif %}' class="button">
                {% if 'BE-IOE' in user.subscription_type or 'MBBS-IOM' in user.subscription_type %} Your Current Plan {% else %}Subscribe{% endif %}
              </a>
            </div>


            <!--<div class="premium-option premium">
              <h1>Inter subscription </h1> <p style="font-size: 13px;">access to both IOM and IOE exams</p>
              <p class="premium-tag">
              </p>
              <p class="premium-price"><strong>Rs. 400 for all exams</strong><br>(One time coupon code entry)</p>              
              <ul class="premium-details-list">
                <li class="active zebra">Attend exam</li>
                <li class="active">Score card and Rank Card</li>
                <li class="active zebra">Prizes, gift hampers and awards</li>
                <li class="active">Answers and solutions</li>
                <li class="active zebra">Participate in discussion related to question</li>
                <li class="active">Progress card</li>
              </ul>
              <a id="js-button-get-free" href="#" '{% if request.user.is_authenticated and 'IDP' not in user.subscription_type %} onclick="attempt_exam('subs')" {% endif %}' class="button">
                {% if 'IDP' in user.subscription_type %} Your Current Plan {% else %}Subscribe{% endif %}
              </a>
            </div>-->

            <div class="premium-option premium">
              <h1>Practice Exam </h1><p style="font-size: 13px;">Can be taken any time</p>
              <p class="premium-tag">
              </p>
              <p class="premium-price"><strong>Rs. 30/exam</strong><br>(coupon code entry every time)</p>
              <!-- <aside>
                <img src="//d2c87l0yth4zbw.cloudfront.net/i/home/devices-free-new-en.png" class="device-img">
              </aside> -->

              <ul class="premium-details-list">
                <li class="active zebra">Attend exam</li>
                <li class="active">Score card and Rank Card</li>                
                <li class="active zebra">-</li> 
                <li class="active">Answers and solutions</li>
                <li class="active zebra">Participate in discussion related to question</li>
                <li class="active">-</li>
              </ul>

              <a id="js-button-get-free" href="/"
              class="button">
                Subscribe
              </a>
            </div>
                        
          </div>

        </div>
      </section>

</div>      
{% endblock %}

{% block javascript %}
<script src="{% static "js/ajax-handle.js" %}"></script>
<script type="text/javascript">
var ex_code;
  function attempt_exam(exam_code){
    ex_code=exam_code;
    $('#infoText').html('');
    if (exam_code.toLowerCase() == 'sample'){
      var html_str = 'Every time you give exam, you need to enter <a href="/coupon-codes/" style="color:red;"><strong>coupon codes</strong></a> are available at various <a href="/#/" style="color:red;"><strong>distributors</strong></a>. Please enter your coupon code'
      $('#infoText').html(html_str);
    }
    else{      
      var html_str = 'Coupon code are necessary to ensure the regular operation of exam. Coupon codes are available at various <a href="/#/" style="color:red;"><strong>distributors</strong></a>. Please enter code your below'
      $('#infoText').html(html_str);
    }
    /*is_subscribed(exam_code);    */
    $('#trigger_gumby_div').click();
  }

  function validate_coupon_code() {
    coupon_id = $('#couponID').val();
    validate_coupon(ex_code, coupon_id);
  }
</script>
{% endblock %}

