{% extends 'base.html' %}
{% load staticfiles %} 
{% block content %}

  <div class="tos-margin twelve column">
  <div class="centered ten columns">
    <h3 class="h-text-align ui-widget-header ui-corner-all" style="text-align: center;"><strong>Terms of service</strong></h3><br>
  	<p>
  		MeroAnswer would like to thank you for using our product. MeroAnswer is owned and operated by <a href="http://phunka.com" style="color:red">Phunka Technologies Pvt. Ltd</a>. By using our services you are agreeing to the terms. Please read them carefully before you start using our service. If you find uncomfortable with the terms and conditions, do not use the services. You are responsible for checking the terms of service periodically as it may be revised.
  	</p><br>
  	<p>
  		<h4 class="h-text-align ui-widget-header ui-corner-all" style="text-align: center;"><strong>About MeroAnswer</strong></h4><br>
		MeroAnswer is the platform developed for online examination based on the syllabus of IOE and IOM entrance exam. MeroAnswer does not attempt and encourage to replace the current entrance system for IOE and IOM. 
		</p>

  		<h4 class="h-text-align ui-widget-header ui-corner-all" style="text-align: center;"><strong>Using MeroAnswer</strong></h4><br>		

		You are not allowed (and You will not allow third party) to duplicate, copy, sell, resell or exploit the site or portion of site except as authorised by this terms of service or written permission from Meroanswer. </p>
		<p>
			<ul>
				<li>You are not allowed to misuse our service or perform the activities not permitted by law.</li>
				<li>MeroAnswer  reserves the right to terminate your account or stop providing you service if you do not comply with our terms or policies or if we are investigating suspected misconduct with or without prior notice.</li>
				<li>The site is for your personal non commercial use.</li>
				<li>You are not allowed to impersonate another person or entity</li>
				<li>If you suspect any unauthorised use of your account then you can contact us. </li>
			</ul>
		</p>
  	</p>
  	<h4 class="h-text-align ui-widget-header ui-corner-all" style="text-align: center;"><strong>Modification of service and price</strong></h4><br>		
	<p>
		<ul>
			<li>MeroAnswer reserves the right to make changes and limits in the service provided.</li>
			<li>MeroAnswer reserves the right to add, change or remove the subscription charges issued on the current 	services and additional services.</li>
			<li>MeroAnswer reserves the right at any time to make modifications or stop services temporarily or permanently with or without notice.</li>
			<li>You can stop using the service any time.</li>
			<li>MeroAnswer reserves the right to change the terms of service any time.</li>
		</ul>
	</p><br><br>
  </div>
</div>
{% endblock %}
